Repository pytauri/pytauri: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock, python-fmt, rust-fmt, python-type-check

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit, commit-msg]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: no-commit-to-branch
      - id: check-added-large-files
      - id: check-toml
      - id: check-json
        exclude: (^|/)\.vscode(/.*|$)|.*tsconfig.* # json5
      - id: check-yaml
        args:
          - --unsafe
        exclude: pnpm-lock.yaml
      - id: end-of-file-fixer
        exclude: .*\/schemas\/.*\.json # generated automatically by `tauri-cli`
      - id: trailing-whitespace
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.19.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        # NOTE: the dependencies must consistent with `commitlint.config.js`
        additional_dependencies: ["@commitlint/config-conventional"]
  - repo: local
    hooks:
      # ref: <https://github.com/astral-sh/uv-pre-commit/blob/97775dd8479651d7bc0f21fc2d0b960de1ef6267/.pre-commit-hooks.yaml#L11-L20>
      - id: uv-lock
        name: uv-lock
        language: system
        files: ^(uv\.lock|pyproject\.toml|uv\.toml)$
        entry: uv lock
        pass_filenames: false
      - id: python-fmt
        stages: [pre-commit]
        name: python format
        language: script
        types: [python]
        entry: scripts/python-fmt.sh
        pass_filenames: false
      - id: rust-fmt
        stages: [pre-commit]
        name: rust format
        language: system
        types: [rust]
        entry: cargo fmt --all
        pass_filenames: false
      - id: typos
        stages: [pre-commit]
        name: typos
        language: system
        entry: typos -w
        pass_filenames: false

      - id: python-type-check
        stages: [pre-commit]
        name: python type check
        language: system
        types: [python]
        entry: pnpm pyright .
        pass_filenames: false

      # TODO, FIXME: typescript fmt

      - id: python-verifytypes
        stages: [manual] # because it's slow
        name: python type check
        language: script
        types: [python]
        entry: scripts/python-verifytypes.sh
        pass_filenames: false
      - id: cargo-clippy # rustup component add clippy
        stages: [manual] # because it's slow
        name: cargo clippy
        language: system
        types: [rust]
        entry: cargo clippy --workspace --exclude=pytauri-test --all-features -- -D warnings
        pass_filenames: false

      # 1. Check if TypeScript can compile successfully (typescript check).
      # 2. Check if the JS build dist snapshot tracked for the crate is updated,
      #    such as `tauri-plugin-pytauri/guest-js/dist/api-iife.*.js`.
      # NOTE: Keep this step after `cargo build` to check that
      # all dist snapshot required for the crate are tracked.
      - id: pnpm-build-snapshot
        stages: [manual] # because it's slow
        name: pnpm build snapshot
        language: system
        types_or: [javascript, jsx, ts, tsx]
        entry: pnpm -r build
        pass_filenames: false

      - id: python-test
        stages: [manual] # because it's slow
        name: python test
        language: script
        types: [python]
        # TODO: more tests
        entry: scripts/python-test.sh
        pass_filenames: false
      - id: rust-test-all
        stages: [manual] # because it's slow
        name: rust test all
        language: system
        types: [rust]
        entry: cargo test --workspace --exclude=pytauri-test --all-features
        pass_filenames: false
      - id: rust-test-crate
        stages: [manual] # because it's slow
        name: rust test crate
        language: system
        types: [rust]
        entry: cargo test -p pytauri-test --features="test"
        pass_filenames: false

      # TODO, FIXME: rust doc check

feat: add `autostart` plugin
  .vscode/settings.json
  Cargo.lock
  Cargo.toml
  crates/pytauri-core/Cargo.toml
  crates/pytauri-core/src/plugins/autostart/mod.rs
  crates/pytauri-core/src/plugins/mod.rs
  crates/pytauri/Cargo.toml
  examples/tauri-app/src-tauri/Cargo.toml
  examples/tauri-app/src-tauri/capabilities/default.json
  examples/tauri-app/src-tauri/python/tauri_app/__init__.py
  python/pytauri-wheel/Cargo.toml
  python/pytauri/src/pytauri_plugins/__init__.py
  python/pytauri/src/pytauri_plugins/autostart/__init__.py
  python/pytauri/src/pytauri_plugins/autostart/ffi.py
Due: python-fmt, rust-fmt, python-type-check

feat: add `deep-link` plugin
  .vscode/settings.json
  Cargo.lock
  Cargo.toml
  crates/pytauri-core/Cargo.toml
  crates/pytauri-core/src/plugins/deep_link/mod.rs
  crates/pytauri-core/src/plugins/mod.rs
  crates/pytauri/Cargo.toml
  examples/tauri-app/src-tauri/Cargo.toml
  examples/tauri-app/src-tauri/capabilities/default.json
  examples/tauri-app/src-tauri/python/tauri_app/__init__.py
  python/pytauri-wheel/Cargo.toml
  python/pytauri/src/pytauri_plugins/__init__.py
  python/pytauri/src/pytauri_plugins/deep_link/__init__.py
  python/pytauri/src/pytauri_plugins/deep_link/ffi.py
Due: python-fmt, rust-fmt, python-type-check

feat: add `fs` plugin
  .vscode/settings.json
  Cargo.lock
  crates/pytauri-core/Cargo.toml
  crates/pytauri-core/src/plugins/fs/mod.rs
  crates/pytauri-core/src/plugins/mod.rs
  crates/pytauri/Cargo.toml
  examples/tauri-app/src-tauri/Cargo.toml
  examples/tauri-app/src-tauri/capabilities/default.json
  examples/tauri-app/src-tauri/python/tauri_app/__init__.py
  python/pytauri-wheel/Cargo.toml
  python/pytauri/src/pytauri_plugins/__init__.py
  python/pytauri/src/pytauri_plugins/fs/__init__.py
  python/pytauri/src/pytauri_plugins/fs/ffi.py
Due: python-fmt, rust-fmt, python-type-check

feat: add `opener` plugin
  .vscode/settings.json
  Cargo.lock
  crates/pytauri-core/Cargo.toml
  crates/pytauri-core/src/plugins/mod.rs
  crates/pytauri-core/src/plugins/opener/mod.rs
  crates/pytauri-core/src/utils.rs
  crates/pytauri/Cargo.toml
  examples/tauri-app/src-tauri/Cargo.toml
  examples/tauri-app/src-tauri/capabilities/default.json
  examples/tauri-app/src-tauri/python/tauri_app/__init__.py
  examples/tauri-app/src-tauri/src/lib.rs
  python/pytauri-wheel/Cargo.toml
  python/pytauri/src/pytauri_plugins/__init__.py
  python/pytauri/src/pytauri_plugins/opener/__init__.py
  python/pytauri/src/pytauri_plugins/opener/ffi.py
Due: python-fmt, rust-fmt, python-type-check

refactor: move `BoxedPluginWrapper` behind `__private` feature gate
  crates/pytauri-core/src/ext_mod_impl/plugin.rs
  crates/pytauri-core/src/lib.rs
Due: rust-fmt

feat: better error handling
  crates/pytauri-core/Cargo.toml
  crates/pytauri-core/src/ext_mod_impl/lib/app_handle.rs
  crates/pytauri-core/src/plugins/clipboard_manager/mod.rs
  crates/pytauri-core/src/plugins/dialog/mod.rs
  crates/pytauri-core/src/plugins/fs/mod.rs
  crates/tauri-plugin-pytauri/src/lib.rs
Due: rust-fmt

refactor: bump `tauri` monorepo and use new `plugin_boxed` api
  Cargo.lock
  Cargo.toml
  crates/pytauri-core/Cargo.toml
  crates/pytauri-core/src/ext_mod_impl/lib/app_handle.rs
  crates/pytauri-core/src/ext_mod_impl/plugin.rs
  crates/pytauri-core/src/lib.rs
  crates/pytauri-core/src/plugins/clipboard_manager/mod.rs
  crates/pytauri-core/src/plugins/dialog/mod.rs
  crates/pytauri-core/src/plugins/fs/mod.rs
  crates/pytauri-core/src/plugins/notification/mod.rs
  crates/pytauri-core/src/plugins/opener/mod.rs
  crates/pytauri/src/lib.rs
  crates/tauri-plugin-pytauri/guest-js/package.json
  examples/tauri-app-wheel/package.json
  examples/tauri-app/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  python/pytauri-wheel/Cargo.toml
Due: rust-fmt

feat: add `deep-link` plugin
  .vscode/settings.json
  Cargo.lock
  Cargo.toml
  crates/pytauri-core/Cargo.toml
  crates/pytauri-core/src/plugins/deep_link/mod.rs
  crates/pytauri-core/src/plugins/mod.rs
  crates/pytauri/Cargo.toml
  examples/tauri-app/src-tauri/Cargo.toml
  examples/tauri-app/src-tauri/capabilities/default.json
  examples/tauri-app/src-tauri/python/tauri_app/__init__.py
  examples/tauri-app/src-tauri/src/main.rs
  python/pytauri-wheel/Cargo.toml
  python/pytauri/src/pytauri_plugins/__init__.py
  python/pytauri/src/pytauri_plugins/deep_link/__init__.py
  python/pytauri/src/pytauri_plugins/deep_link/ffi.py
Due: python-fmt, rust-fmt, python-type-check

feat: add `http` plugin
  .vscode/settings.json
  Cargo.lock
  Cargo.toml
  crates/pytauri-core/Cargo.toml
  crates/pytauri-core/src/plugins/http/mod.rs
  crates/pytauri-core/src/plugins/mod.rs
  crates/pytauri/Cargo.toml
  examples/tauri-app/src-tauri/Cargo.toml
  examples/tauri-app/src-tauri/capabilities/default.json
  examples/tauri-app/src-tauri/python/tauri_app/__init__.py
  python/pytauri-wheel/Cargo.toml
  python/pytauri/src/pytauri_plugins/__init__.py
  python/pytauri/src/pytauri_plugins/http/__init__.py
  python/pytauri/src/pytauri_plugins/http/ffi.py
Due: python-fmt, rust-fmt, python-type-check

feat: add `persisted-scope` plugin
  .vscode/settings.json
  Cargo.lock
  Cargo.toml
  crates/pytauri-core/Cargo.toml
  crates/pytauri-core/src/plugins/mod.rs
  crates/pytauri-core/src/plugins/persisted_scope/mod.rs
  crates/pytauri/Cargo.toml
  examples/tauri-app/src-tauri/Cargo.toml
  examples/tauri-app/src-tauri/python/tauri_app/__init__.py
  python/pytauri-wheel/Cargo.toml
  python/pytauri/src/pytauri_plugins/__init__.py
  python/pytauri/src/pytauri_plugins/persisted_scope/__init__.py
  python/pytauri/src/pytauri_plugins/persisted_scope/ffi.py
Due: python-fmt, rust-fmt, python-type-check

feat: add `os` plugin
  .vscode/settings.json
  Cargo.lock
  Cargo.toml
  crates/pytauri-core/Cargo.toml
  crates/pytauri-core/src/plugins/mod.rs
  crates/pytauri-core/src/plugins/os/mod.rs
  crates/pytauri/Cargo.toml
  examples/tauri-app/src-tauri/Cargo.toml
  examples/tauri-app/src-tauri/capabilities/default.json
  examples/tauri-app/src-tauri/python/tauri_app/__init__.py
  python/pytauri-wheel/Cargo.toml
  python/pytauri/src/pytauri_plugins/__init__.py
  python/pytauri/src/pytauri_plugins/os/__init__.py
  python/pytauri/src/pytauri_plugins/os/ffi.py
Due: python-fmt, rust-fmt, python-type-check

feat: add `process` plugin
  .vscode/settings.json
  Cargo.lock
  Cargo.toml
  crates/pytauri-core/Cargo.toml
  crates/pytauri-core/src/plugins/mod.rs
  crates/pytauri-core/src/plugins/process/mod.rs
  crates/pytauri/Cargo.toml
  examples/tauri-app/src-tauri/Cargo.toml
  examples/tauri-app/src-tauri/capabilities/default.json
  examples/tauri-app/src-tauri/python/tauri_app/__init__.py
  python/pytauri-wheel/Cargo.toml
  python/pytauri/src/pytauri_plugins/__init__.py
  python/pytauri/src/pytauri_plugins/process/__init__.py
  python/pytauri/src/pytauri_plugins/process/ffi.py
Due: python-fmt, rust-fmt, python-type-check

feat: add `positioner` plugin
  .vscode/settings.json
  Cargo.lock
  Cargo.toml
  crates/pytauri-core/Cargo.toml
  crates/pytauri-core/src/plugins/mod.rs
  crates/pytauri-core/src/plugins/positioner/mod.rs
  crates/pytauri/Cargo.toml
  examples/tauri-app/src-tauri/Cargo.toml
  examples/tauri-app/src-tauri/capabilities/default.json
  examples/tauri-app/src-tauri/python/tauri_app/__init__.py
  python/pytauri-wheel/Cargo.toml
  python/pytauri/src/pytauri_plugins/__init__.py
  python/pytauri/src/pytauri_plugins/positioner/__init__.py
  python/pytauri/src/pytauri_plugins/positioner/ffi.py
Due: python-fmt, rust-fmt, python-type-check

feat: add `shell` plugin
  .vscode/settings.json
  Cargo.lock
  Cargo.toml
  crates/pytauri-core/Cargo.toml
  crates/pytauri-core/src/plugins/mod.rs
  crates/pytauri-core/src/plugins/shell/mod.rs
  crates/pytauri/Cargo.toml
  examples/tauri-app/src-tauri/Cargo.toml
  examples/tauri-app/src-tauri/capabilities/default.json
  examples/tauri-app/src-tauri/python/tauri_app/__init__.py
  python/pytauri-wheel/Cargo.toml
  python/pytauri/src/pytauri_plugins/__init__.py
  python/pytauri/src/pytauri_plugins/shell/__init__.py
  python/pytauri/src/pytauri_plugins/shell/ffi.py
Due: python-fmt, rust-fmt, python-type-check

feat: add `single-instance` plugin
  .vscode/settings.json
  Cargo.lock
  Cargo.toml
  crates/pytauri-core/Cargo.toml
  crates/pytauri-core/src/plugins/mod.rs
  crates/pytauri-core/src/plugins/single_instance/mod.rs
  crates/pytauri/Cargo.toml
  examples/tauri-app/src-tauri/Cargo.toml
  examples/tauri-app/src-tauri/python/tauri_app/__init__.py
  python/pytauri-wheel/Cargo.toml
  python/pytauri/src/pytauri_plugins/__init__.py
  python/pytauri/src/pytauri_plugins/single_instance/__init__.py
  python/pytauri/src/pytauri_plugins/single_instance/ffi.py
Due: python-fmt, rust-fmt, python-type-check

feat: add `updater` plugin
  .vscode/settings.json
  Cargo.lock
  Cargo.toml
  crates/pyo3-utils/src/from_py_dict.rs
  crates/pytauri-core/Cargo.toml
  crates/pytauri-core/src/plugins/mod.rs
  crates/pytauri-core/src/plugins/updater/mod.rs
  crates/pytauri/Cargo.toml
  examples/tauri-app/src-tauri/Cargo.toml
  examples/tauri-app/src-tauri/capabilities/default.json
  examples/tauri-app/src-tauri/python/tauri_app/__init__.py
  examples/tauri-app/src-tauri/src/main.rs
  examples/tauri-app/src-tauri/tauri.conf.json
  python/pytauri-wheel/Cargo.toml
  python/pytauri/src/pytauri_plugins/__init__.py
  python/pytauri/src/pytauri_plugins/updater/__init__.py
  python/pytauri/src/pytauri_plugins/updater/ffi.py
Due: python-fmt, rust-fmt, python-type-check

feat: add `upload` plugin
  .vscode/settings.json
  Cargo.lock
  Cargo.toml
  crates/pytauri-core/Cargo.toml
  crates/pytauri-core/src/plugins/mod.rs
  crates/pytauri-core/src/plugins/upload/mod.rs
  crates/pytauri/Cargo.toml
  examples/tauri-app/src-tauri/Cargo.toml
  examples/tauri-app/src-tauri/capabilities/default.json
  examples/tauri-app/src-tauri/python/tauri_app/__init__.py
  python/pytauri-wheel/Cargo.toml
  python/pytauri/src/pytauri_plugins/__init__.py
  python/pytauri/src/pytauri_plugins/upload/__init__.py
  python/pytauri/src/pytauri_plugins/upload/ffi.py
Due: python-fmt, rust-fmt, python-type-check

feat: add `websocket` plugin
  .vscode/settings.json
  Cargo.lock
  Cargo.toml
  crates/pytauri-core/Cargo.toml
  crates/pytauri-core/src/plugins/mod.rs
  crates/pytauri-core/src/plugins/websocket/mod.rs
  crates/pytauri/Cargo.toml
  examples/tauri-app/src-tauri/Cargo.toml
  examples/tauri-app/src-tauri/capabilities/default.json
  examples/tauri-app/src-tauri/python/tauri_app/__init__.py
  python/pytauri-wheel/Cargo.toml
  python/pytauri/src/pytauri_plugins/__init__.py
  python/pytauri/src/pytauri_plugins/websocket/__init__.py
  python/pytauri/src/pytauri_plugins/websocket/ffi.py
Due: python-fmt, rust-fmt, python-type-check

feat: add `window-state` plugin
  .vscode/settings.json
  Cargo.lock
  Cargo.toml
  crates/pytauri-core/Cargo.toml
  crates/pytauri-core/src/plugins/mod.rs
  crates/pytauri-core/src/plugins/window_state/mod.rs
  crates/pytauri/Cargo.toml
  examples/tauri-app/src-tauri/Cargo.toml
  examples/tauri-app/src-tauri/capabilities/default.json
  examples/tauri-app/src-tauri/python/tauri_app/__init__.py
  python/pytauri-wheel/Cargo.toml
  python/pytauri/src/pytauri_plugins/__init__.py
  python/pytauri/src/pytauri_plugins/window_state/__init__.py
  python/pytauri/src/pytauri_plugins/window_state/ffi.py
Due: python-fmt, rust-fmt, python-type-check

feat: add `global-shortcut` plugin
  .vscode/settings.json
  Cargo.lock
  Cargo.toml
  crates/pytauri-core/Cargo.toml
  crates/pytauri-core/src/plugins/global_shortcut/mod.rs
  crates/pytauri-core/src/plugins/mod.rs
  crates/pytauri/Cargo.toml
  examples/tauri-app/src-tauri/Cargo.toml
  examples/tauri-app/src-tauri/capabilities/default.json
  examples/tauri-app/src-tauri/python/tauri_app/__init__.py
  python/pytauri-wheel/Cargo.toml
  python/pytauri/src/pytauri_plugins/__init__.py
  python/pytauri/src/pytauri_plugins/global_shortcut/__init__.py
  python/pytauri/src/pytauri_plugins/global_shortcut/ffi.py
Due: python-fmt, rust-fmt, python-type-check

feat(pytauri-wheel)!: use new `pytauri.BuilderArgs.plugins` api
  Cargo.lock
  Cargo.toml
  examples/nicegui-app/pyproject.toml
  examples/tauri-app-wheel/python/pyproject.toml
  examples/tauri-app-wheel/python/src/tauri_app_wheel/__init__.py
  examples/tauri-app-wheel/python/src/tauri_app_wheel/capabilities/default.toml
  examples/tauri-app/src-tauri/pyproject.toml
  pyproject.toml
  python/pytauri-wheel/Cargo.toml
  python/pytauri-wheel/pyproject.toml
  python/pytauri-wheel/python/pytauri_wheel/lib.py
  python/pytauri-wheel/src/lib.rs
  tests/pytauri-test/pyproject.toml
  uv.lock
Due: uv-lock, python-fmt, rust-fmt, python-type-check

build: downgrade `setuptools-scm` to 8.* to fix build error
  examples/nicegui-app/pyproject.toml
  examples/tauri-app/src-tauri/pyproject.toml
  pyproject.toml
  python/pytauri-wheel/pyproject.toml
  tests/pytauri-test/pyproject.toml
  uv.lock
Due: uv-lock

build(docs): downgrade `git-revision-date-localized` to `1.3.*`
  mkdocs.yml
  pyproject.toml
  uv.lock
Due: uv-lock

chore: add `yaml.customTags` to resolve `mkdocs.yml` schema error
  .vscode/settings.json
  mkdocs.yml
Due: none

build(docs): add `ENABLE_MKDOCSTRINGS` env var to reduce dev build time
  CONTRIBUTING.md
  mkdocs.yml
Due: none

style(rust): fix `1.89` clippy warning
  crates/pytauri-core/src/ext_mod_impl/webview.rs
Due: rust-fmt

docs: add docs for `tutorial/using_plugins` and `pytauri-wheel`
  docs/usage/pytauri-wheel/index.md
  docs/usage/tutorial/using-plugins.md
  docs_src/tutorial/using_plugins/plugin.py
  docs_src/tutorial/using_plugins/registering.py
  python/pytauri/src/pytauri_plugins/deep_link/__init__.py
Due: python-fmt, python-type-check

docs: changelog
  CHANGELOG.md
  CONTRIBUTING.md
  crates/pyo3-utils/CHANGELOG.md
  crates/pytauri-core/CHANGELOG.md
  docs/usage/pytauri-wheel/index.md
  python/pytauri-wheel/CHANGELOG.md
  python/pytauri/CHANGELOG.md
Due: none

docs(pytauri/docstring): fix wrong `tauri_plugin_clipboard_manager::init` link
  python/pytauri/src/pytauri_plugins/clipboard_manager/ffi.py
Due: python-fmt, python-type-check

feat(pytauri): more `WebviewWindow` and `AppHandle` bindings
  .vscode/settings.json
  Cargo.lock
  Cargo.toml
  crates/pyo3-utils/src/from_py_dict.rs
  crates/pytauri-core/Cargo.toml
  crates/pytauri-core/src/ext_mod_impl/ipc.rs
  crates/pytauri-core/src/ext_mod_impl/lib/app.rs
  crates/pytauri-core/src/ext_mod_impl/lib/app_handle.rs
  crates/pytauri-core/src/ext_mod_impl/lib/assets.rs
  crates/pytauri-core/src/ext_mod_impl/lib/context.rs
  crates/pytauri-core/src/ext_mod_impl/lib/event.rs
  crates/pytauri-core/src/ext_mod_impl/lib/mod.rs
  crates/pytauri-core/src/ext_mod_impl/lib/rect.rs
  crates/pytauri-core/src/ext_mod_impl/lib/runtime.rs
  crates/pytauri-core/src/ext_mod_impl/lib/theme.rs
  crates/pytauri-core/src/ext_mod_impl/menu.rs
  crates/pytauri-core/src/ext_mod_impl/path.rs
  crates/pytauri-core/src/ext_mod_impl/tray.rs
  crates/pytauri-core/src/ext_mod_impl/webview.rs
  crates/pytauri-core/src/ext_mod_impl/window.rs
  crates/pytauri-core/src/lib.rs
  crates/pytauri-core/src/plugins/autostart/mod.rs
  crates/pytauri-core/src/utils.rs
  crates/pytauri/Cargo.toml
  python/pytauri-wheel/src/lib.rs
Due: rust-fmt

feat: python ffi
  crates/pytauri-core/src/ext_mod_impl/lib/rect.rs
  crates/pytauri-core/src/ext_mod_impl/webview.rs
  crates/pytauri-core/src/ext_mod_impl/window.rs
  crates/pytauri-core/src/lib.rs
  python/pytauri/src/pytauri/__init__.py
  python/pytauri/src/pytauri/ffi/__init__.py
  python/pytauri/src/pytauri/ffi/lib.py
  python/pytauri/src/pytauri/ffi/webview.py
  python/pytauri/src/pytauri/ffi/window.py
  python/pytauri/src/pytauri/webview.py
  python/pytauri/src/pytauri/window.py
Due: python-fmt, rust-fmt, python-type-check

feat(pytauri): more `WebviewWindow` and `AppHandle` bindings
  .vscode/settings.json
  Cargo.lock
  Cargo.toml
  crates/pyo3-utils/src/from_py_dict.rs
  crates/pytauri-core/Cargo.toml
  crates/pytauri-core/src/ext_mod_impl/ipc.rs
  crates/pytauri-core/src/ext_mod_impl/lib/app.rs
  crates/pytauri-core/src/ext_mod_impl/lib/app_handle.rs
  crates/pytauri-core/src/ext_mod_impl/lib/assets.rs
  crates/pytauri-core/src/ext_mod_impl/lib/context.rs
  crates/pytauri-core/src/ext_mod_impl/lib/event.rs
  crates/pytauri-core/src/ext_mod_impl/lib/mod.rs
  crates/pytauri-core/src/ext_mod_impl/lib/rect.rs
  crates/pytauri-core/src/ext_mod_impl/lib/runtime.rs
  crates/pytauri-core/src/ext_mod_impl/lib/theme.rs
  crates/pytauri-core/src/ext_mod_impl/menu.rs
  crates/pytauri-core/src/ext_mod_impl/path.rs
  crates/pytauri-core/src/ext_mod_impl/tray.rs
  crates/pytauri-core/src/ext_mod_impl/webview.rs
  crates/pytauri-core/src/ext_mod_impl/window.rs
  crates/pytauri-core/src/lib.rs
  crates/pytauri-core/src/plugins/autostart/mod.rs
  crates/pytauri-core/src/utils.rs
  crates/pytauri/Cargo.toml
  python/pytauri-wheel/Cargo.toml
  python/pytauri-wheel/src/lib.rs
Due: rust-fmt

chore: bump tauri monorepo to `2.8`
  Cargo.lock
  Cargo.toml
  pnpm-lock.yaml
  pnpm-workspace.yaml
  python/pytauri-wheel/Cargo.toml
Due: none

refactor: use new tauri api
  Cargo.lock
  Cargo.toml
  crates/pytauri-core/Cargo.toml
  crates/pytauri-core/src/ext_mod_impl/lib/app_handle.rs
  crates/pytauri-core/src/ext_mod_impl/webview.rs
  crates/pytauri-core/src/ext_mod_impl/window.rs
Due: rust-fmt

feat: add `WebviewWindow::{set_cookie, delete_cookie}`
  crates/pytauri-core/src/ext_mod_impl/webview.rs
  python/pytauri/src/pytauri/ffi/webview.py
Due: python-fmt, rust-fmt, python-type-check

docs: changelog
  CHANGELOG.md
  crates/pyo3-utils/CHANGELOG.md
  crates/pytauri-core/CHANGELOG.md
  crates/pytauri/CHANGELOG.md
  python/pytauri-wheel/CHANGELOG.md
  python/pytauri/CHANGELOG.md
Due: none
