Repository pytauri/pytauri: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock, python-fmt, rust-fmt, python-type-check

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit, commit-msg]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: no-commit-to-branch
      - id: check-added-large-files
      - id: check-toml
      - id: check-json
        exclude: (^|/)\.vscode(/.*|$)|.*tsconfig.* # json5
      - id: check-yaml
        args:
          - --unsafe
        exclude: pnpm-lock.yaml
      - id: end-of-file-fixer
        exclude: .*\/schemas\/.*\.json # generated automatically by `tauri-cli`
      - id: trailing-whitespace
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.19.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        # NOTE: the dependencies must consistent with `commitlint.config.js`
        additional_dependencies: ["@commitlint/config-conventional"]
  - repo: local
    hooks:
      # ref: <https://github.com/astral-sh/uv-pre-commit/blob/97775dd8479651d7bc0f21fc2d0b960de1ef6267/.pre-commit-hooks.yaml#L11-L20>
      - id: uv-lock
        name: uv-lock
        language: system
        files: ^(uv\.lock|pyproject\.toml|uv\.toml)$
        entry: uv lock
        pass_filenames: false
      - id: python-fmt
        stages: [pre-commit]
        name: python format
        language: script
        types: [python]
        entry: scripts/python-fmt.sh
        pass_filenames: false
      - id: rust-fmt
        stages: [pre-commit]
        name: rust format
        language: system
        types: [rust]
        entry: cargo fmt --all
        pass_filenames: false
      - id: typos
        stages: [pre-commit]
        name: typos
        language: system
        entry: typos -w
        pass_filenames: false

      - id: python-type-check
        stages: [pre-commit]
        name: python type check
        language: system
        types: [python]
        entry: pnpm pyright .
        pass_filenames: false

      # TODO, FIXME: typescript fmt

      - id: python-verifytypes
        stages: [manual] # because it's slow
        name: python type check
        language: script
        types: [python]
        entry: scripts/python-verifytypes.sh
        pass_filenames: false
      - id: cargo-clippy # rustup component add clippy
        stages: [manual] # because it's slow
        name: cargo clippy
        language: system
        types: [rust]
        entry: cargo clippy --workspace --exclude=pytauri-test --all-features -- -D warnings
        pass_filenames: false

      # 1. Check if TypeScript can compile successfully (typescript check).
      # 2. Check if the JS build dist snapshot tracked for the crate is updated,
      #    such as `tauri-plugin-pytauri/guest-js/dist/api-iife.*.js`.
      # NOTE: Keep this step after `cargo build` to check that
      # all dist snapshot required for the crate are tracked.
      - id: pnpm-build-snapshot
        stages: [manual] # because it's slow
        name: pnpm build snapshot
        language: system
        types_or: [javascript, jsx, ts, tsx]
        entry: pnpm -r build
        pass_filenames: false

      - id: python-test
        stages: [manual] # because it's slow
        name: python test
        language: script
        types: [python]
        # TODO: more tests
        entry: scripts/python-test.sh
        pass_filenames: false
      - id: rust-test-all
        stages: [manual] # because it's slow
        name: rust test all
        language: system
        types: [rust]
        entry: cargo test --workspace --exclude=pytauri-test --all-features
        pass_filenames: false
      - id: rust-test-crate
        stages: [manual] # because it's slow
        name: rust test crate
        language: system
        types: [rust]
        entry: cargo test -p pytauri-test --features="test"
        pass_filenames: false

      # TODO, FIXME: rust doc check

docs: remove `pnpm build` in `examples/nicegui-app`
  examples/nicegui-app/README.md
Due: none

docs: changelog
  CHANGELOG.md
Due: none

feat: support installation from git repository (#147)
  .gitattributes
  .github/workflows/lint-test.yml
  .github/workflows/preview-publish.yml
  .github/workflows/publish-rs.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  crates/tauri-plugin-pytauri/Cargo.toml
  crates/tauri-plugin-pytauri/guest-js/.gitignore
  crates/tauri-plugin-pytauri/guest-js/dist/api-iife.dev.js
  crates/tauri-plugin-pytauri/guest-js/dist/api-iife.prod.js
  docs/usage/using-unreleased-commits.md
  examples/nicegui-app/README.md
  mkdocs.yml
  release.py
Due: python-fmt, python-type-check

fix(ci): bump `uv` to `0.6.14` for `windows-11-arm64` runner
  .github/actions/setup-envs-ver/action.yml
Due: none

feat(wheel): add support for the `windows-11-arm` platform wheel
  .github/workflows/publish-py.yml
  docs/usage/pytauri-wheel/index.md
  python/pytauri-wheel/CHANGELOG.md
Due: none

ci: disable wheel build for `Python < 3.11` on windows-arm
  .github/workflows/publish-py.yml
  docs/usage/pytauri-wheel/index.md
  docs/usage/tutorial/build-standalone.md
  mkdocs.yml
Due: none

docs: changelog
  CHANGELOG.md
  python/pytauri-wheel/CHANGELOG.md
Due: none

feat(wheel): add support for the `windows-11-arm` platform wheel (#139)
  .github/actions/setup-envs-ver/action.yml
  .github/workflows/publish-py.yml
  CHANGELOG.md
  docs/usage/pytauri-wheel/index.md
  docs/usage/tutorial/build-standalone.md
  mkdocs.yml
  python/pytauri-wheel/CHANGELOG.md
Due: none

chore(release): bump version to `0.5.0`
  Cargo.lock
  Cargo.toml
  crates/pytauri-core/CHANGELOG.md
  crates/pytauri-core/Cargo.toml
  crates/pytauri-plugin-notification/CHANGELOG.md
  crates/pytauri-plugin-notification/Cargo.toml
  crates/pytauri/CHANGELOG.md
  crates/pytauri/Cargo.toml
  crates/tauri-plugin-pytauri/CHANGELOG.md
  crates/tauri-plugin-pytauri/Cargo.toml
  crates/tauri-plugin-pytauri/guest-js/CHANGELOG.md
  crates/tauri-plugin-pytauri/guest-js/package.json
  python/pytauri-plugin-notification/CHANGELOG.md
  python/pytauri-plugin-notification/pyproject.toml
  python/pytauri-wheel/CHANGELOG.md
  python/pytauri-wheel/Cargo.toml
  python/pytauri-wheel/pyproject.toml
  python/pytauri/CHANGELOG.md
  python/pytauri/pyproject.toml
  uv.lock
Due: uv-lock

chore(release): bump version to `0.5.0` (#148)
  Cargo.lock
  Cargo.toml
  crates/pytauri-core/CHANGELOG.md
  crates/pytauri-core/Cargo.toml
  crates/pytauri-plugin-notification/CHANGELOG.md
  crates/pytauri-plugin-notification/Cargo.toml
  crates/pytauri/CHANGELOG.md
  crates/pytauri/Cargo.toml
  crates/tauri-plugin-pytauri/CHANGELOG.md
  crates/tauri-plugin-pytauri/Cargo.toml
  crates/tauri-plugin-pytauri/guest-js/CHANGELOG.md
  crates/tauri-plugin-pytauri/guest-js/package.json
  python/pytauri-plugin-notification/CHANGELOG.md
  python/pytauri-plugin-notification/pyproject.toml
  python/pytauri-wheel/CHANGELOG.md
  python/pytauri-wheel/Cargo.toml
  python/pytauri-wheel/pyproject.toml
  python/pytauri/CHANGELOG.md
  python/pytauri/pyproject.toml
  uv.lock
Due: uv-lock

fix: bump `pyo3-utils` for workspace pyo3 dependencies
  Cargo.lock
  Cargo.toml
  crates/pyo3-utils/CHANGELOG.md
  crates/pyo3-utils/Cargo.toml
Due: none

fix: bump `pyo3-utils` for workspace pyo3 dependencies (#152)
  Cargo.lock
  Cargo.toml
  crates/pyo3-utils/CHANGELOG.md
  crates/pyo3-utils/Cargo.toml
Due: none

docs: update docs for v0.5.0
  CHANGELOG.md
  docs/usage/pytauri-wheel/index.md
  docs/usage/tutorial/py-js-ipc.md
  docs/usage/tutorial/using-plugins.md
  docs/usage/tutorial/using-pytauri.md
Due: none

docs: update docs for v0.5.0 (#153)
  CHANGELOG.md
  docs/usage/pytauri-wheel/index.md
  docs/usage/tutorial/py-js-ipc.md
  docs/usage/tutorial/using-plugins.md
  docs/usage/tutorial/using-pytauri.md
Due: none

refactor: move `ext_mod_impl::self` into `ext_mod_impl::lib`
  crates/pytauri-core/src/ext_mod_impl/lib/mod.rs
  crates/pytauri-core/src/ext_mod_impl/mod.rs
Due: rust-fmt

refactor: modularize `ext_mod_impl::self`
  crates/pytauri-core/src/ext_mod_impl/ipc.rs
  crates/pytauri-core/src/ext_mod_impl/lib/app.rs
  crates/pytauri-core/src/ext_mod_impl/lib/app_handle.rs
  crates/pytauri-core/src/ext_mod_impl/lib/assets.rs
  crates/pytauri-core/src/ext_mod_impl/lib/context.rs
  crates/pytauri-core/src/ext_mod_impl/lib/emitter.rs
  crates/pytauri-core/src/ext_mod_impl/lib/event.rs
  crates/pytauri-core/src/ext_mod_impl/lib/listener.rs
  crates/pytauri-core/src/ext_mod_impl/lib/manager.rs
  crates/pytauri-core/src/ext_mod_impl/lib/mod.rs
  crates/pytauri-core/src/ext_mod_impl/lib/rect.rs
  crates/pytauri-core/src/ext_mod_impl/lib/run_event.rs
  crates/pytauri-core/src/ext_mod_impl/lib/url.rs
  crates/pytauri-core/src/ext_mod_impl/menu.rs
  crates/pytauri-core/src/ext_mod_impl/mod.rs
  crates/pytauri-core/src/ext_mod_impl/tray.rs
  crates/pytauri-core/src/ext_mod_impl/webview.rs
  crates/pytauri-core/src/lib.rs
Due: rust-fmt

refactor: re-export `context_menu_impl`
  crates/pytauri-core/src/ext_mod_impl/menu.rs
  crates/pytauri-core/src/ext_mod_impl/tray.rs
  crates/pytauri-core/src/ext_mod_impl/webview.rs
Due: rust-fmt

refactor: re-export `delegate_inner` in `utils` mod
  crates/pytauri-core/src/ext_mod_impl/lib/app_handle.rs
  crates/pytauri-core/src/ext_mod_impl/path.rs
  crates/pytauri-core/src/ext_mod_impl/tray.rs
  crates/pytauri-core/src/ext_mod_impl/webview.rs
  crates/pytauri-core/src/utils.rs
Due: rust-fmt

refactor: unify exporting `ext_mod_impl` APIs from `ext_mod`
  crates/pytauri-core/src/ext_mod_impl/ipc.rs
  crates/pytauri-core/src/ext_mod_impl/lib/app_handle.rs
  crates/pytauri-core/src/ext_mod_impl/lib/assets.rs
  crates/pytauri-core/src/ext_mod_impl/lib/manager.rs
  crates/pytauri-core/src/ext_mod_impl/lib/run_event.rs
  crates/pytauri-core/src/ext_mod_impl/menu.rs
  crates/pytauri-core/src/ext_mod_impl/mod.rs
  crates/pytauri-core/src/ext_mod_impl/tray.rs
  crates/pytauri-core/src/ext_mod_impl/webview.rs
  crates/pytauri-core/src/lib.rs
  python/pytauri/src/pytauri/ffi/lib.py
Due: python-fmt, rust-fmt, python-type-check

docs: fix unresolved link in rust doc
  crates/pytauri-core/src/ext_mod_impl/lib/app_handle.rs
  crates/pytauri-core/src/ext_mod_impl/menu.rs
Due: rust-fmt

docs: changelog
  crates/pytauri-core/CHANGELOG.md
Due: none

refactor(pytauri-core): modularize `ext_mod_impl::self` (#155)
  crates/pytauri-core/CHANGELOG.md
  crates/pytauri-core/src/ext_mod_impl/ipc.rs
  crates/pytauri-core/src/ext_mod_impl/lib/app.rs
  crates/pytauri-core/src/ext_mod_impl/lib/app_handle.rs
  crates/pytauri-core/src/ext_mod_impl/lib/assets.rs
  crates/pytauri-core/src/ext_mod_impl/lib/context.rs
  crates/pytauri-core/src/ext_mod_impl/lib/emitter.rs
  crates/pytauri-core/src/ext_mod_impl/lib/event.rs
  crates/pytauri-core/src/ext_mod_impl/lib/listener.rs
  crates/pytauri-core/src/ext_mod_impl/lib/manager.rs
  crates/pytauri-core/src/ext_mod_impl/lib/mod.rs
  crates/pytauri-core/src/ext_mod_impl/lib/rect.rs
  crates/pytauri-core/src/ext_mod_impl/lib/run_event.rs
  crates/pytauri-core/src/ext_mod_impl/lib/url.rs
  crates/pytauri-core/src/ext_mod_impl/menu.rs
  crates/pytauri-core/src/ext_mod_impl/mod.rs
  crates/pytauri-core/src/ext_mod_impl/path.rs
  crates/pytauri-core/src/ext_mod_impl/tray.rs
  crates/pytauri-core/src/ext_mod_impl/webview.rs
  crates/pytauri-core/src/lib.rs
  crates/pytauri-core/src/utils.rs
  python/pytauri/src/pytauri/ffi/lib.py
Due: python-fmt, rust-fmt, python-type-check

feat: add `ExitRequestApi` and `RunEvent::ExitRequested::api` field
  crates/pytauri-core/src/ext_mod_impl/lib/run_event.rs
  crates/pytauri-core/src/lib.rs
  python/pytauri/src/pytauri/__init__.py
  python/pytauri/src/pytauri/ffi/__init__.py
  python/pytauri/src/pytauri/ffi/lib.py
Due: python-fmt, rust-fmt, python-type-check

refactor: move `PhysicalPositionF64` to `ext_mod::lib`
  crates/pytauri-core/src/ext_mod_impl/lib/rect.rs
  crates/pytauri-core/src/ext_mod_impl/lib/run_event.rs
  crates/pytauri-core/src/ext_mod_impl/tray.rs
  crates/pytauri-core/src/lib.rs
  python/pytauri/src/pytauri/ffi/lib.py
  python/pytauri/src/pytauri/ffi/tray.py
Due: python-fmt, rust-fmt, python-type-check

feat: add `CloseRequestApi`
  crates/pytauri-core/src/ext_mod_impl/lib/run_event.rs
  crates/pytauri-core/src/lib.rs
  python/pytauri/src/pytauri/__init__.py
  python/pytauri/src/pytauri/ffi/__init__.py
  python/pytauri/src/pytauri/ffi/lib.py
Due: python-fmt, rust-fmt, python-type-check

feat: add `Theme` and `AppHandle/WebviewWindow::{theme, set_theme}`
  crates/pytauri-core/src/ext_mod_impl/lib/app_handle.rs
  crates/pytauri-core/src/ext_mod_impl/lib/mod.rs
  crates/pytauri-core/src/ext_mod_impl/lib/theme.rs
  crates/pytauri-core/src/ext_mod_impl/webview.rs
  crates/pytauri-core/src/lib.rs
  python/pytauri/src/pytauri/__init__.py
  python/pytauri/src/pytauri/ffi/__init__.py
  python/pytauri/src/pytauri/ffi/lib.py
  python/pytauri/src/pytauri/ffi/webview.py
Due: python-fmt, rust-fmt, python-type-check

feat: add `_NonExhaustive` field to all `#[non_exhaustive]` enums
  crates/pytauri-core/src/ext_mod_impl/lib/app.rs
  crates/pytauri-core/src/ext_mod_impl/lib/event.rs
  crates/pytauri-core/src/ext_mod_impl/lib/rect.rs
  crates/pytauri-core/src/ext_mod_impl/lib/run_event.rs
  crates/pytauri-core/src/ext_mod_impl/menu.rs
  crates/pytauri-core/src/ext_mod_impl/tray.rs
  python/pytauri/src/pytauri/ffi/lib.py
  python/pytauri/src/pytauri/ffi/tray.py
Due: python-fmt, rust-fmt, python-type-check

feat: add `DragDropEvent` and `DragDropEventType`
  crates/pytauri-core/src/ext_mod_impl/lib/rect.rs
  crates/pytauri-core/src/ext_mod_impl/lib/run_event.rs
  crates/pytauri-core/src/lib.rs
  python/pytauri/src/pytauri/__init__.py
  python/pytauri/src/pytauri/ffi/__init__.py
  python/pytauri/src/pytauri/ffi/lib.py
Due: python-fmt, rust-fmt, python-type-check

feat!: `Position.Physical(x, y)` -> `Position.Physical(tuple(x, y))`
  crates/pytauri-core/src/ext_mod_impl/lib/rect.rs
  crates/pytauri-core/src/ext_mod_impl/menu.rs
  crates/pytauri-core/src/ext_mod_impl/webview.rs
  python/pytauri/src/pytauri/ffi/lib.py
Due: python-fmt, rust-fmt, python-type-check

feat: add `WebviewEvent`, `WebviewEventType`
  crates/pytauri-core/src/ext_mod_impl/lib/app_handle.rs
  crates/pytauri-core/src/ext_mod_impl/lib/run_event.rs
  crates/pytauri-core/src/ext_mod_impl/tray.rs
  crates/pytauri-core/src/ext_mod_impl/webview.rs
  crates/pytauri-core/src/lib.rs
  python/pytauri/src/pytauri/__init__.py
  python/pytauri/src/pytauri/ffi/__init__.py
  python/pytauri/src/pytauri/ffi/lib.py
  python/pytauri/src/pytauri/ffi/webview.py
Due: python-fmt, rust-fmt, python-type-check

feat: add `WindowEvent`, `WindowEventType`
  crates/pytauri-core/src/ext_mod_impl/lib/run_event.rs
  crates/pytauri-core/src/ext_mod_impl/webview.rs
  crates/pytauri-core/src/lib.rs
  python/pytauri/src/pytauri/__init__.py
  python/pytauri/src/pytauri/ffi/__init__.py
  python/pytauri/src/pytauri/ffi/lib.py
  python/pytauri/src/pytauri/ffi/webview.py
Due: python-fmt, rust-fmt, python-type-check

fix: namedtuple member name can't start with underscore
  package.json
  pnpm-lock.yaml
  python/pytauri/src/pytauri/ffi/_ext_mod.py
  python/pytauri/src/pytauri/ffi/lib.py
Due: python-fmt, python-type-check

docs: changelog
  CHANGELOG.md
  crates/pytauri-core/CHANGELOG.md
  python/pytauri/CHANGELOG.md
Due: none

feat(pytauri): fully implement `tauri::RunEvent` bindings (#157)
  CHANGELOG.md
  crates/pytauri-core/CHANGELOG.md
  crates/pytauri-core/src/ext_mod_impl/lib/app.rs
  crates/pytauri-core/src/ext_mod_impl/lib/app_handle.rs
  crates/pytauri-core/src/ext_mod_impl/lib/event.rs
  crates/pytauri-core/src/ext_mod_impl/lib/mod.rs
  crates/pytauri-core/src/ext_mod_impl/lib/rect.rs
  crates/pytauri-core/src/ext_mod_impl/lib/run_event.rs
  crates/pytauri-core/src/ext_mod_impl/lib/theme.rs
  crates/pytauri-core/src/ext_mod_impl/menu.rs
  crates/pytauri-core/src/ext_mod_impl/tray.rs
  crates/pytauri-core/src/ext_mod_impl/webview.rs
  crates/pytauri-core/src/lib.rs
  package.json
  pnpm-lock.yaml
  python/pytauri/CHANGELOG.md
  python/pytauri/src/pytauri/__init__.py
  python/pytauri/src/pytauri/ffi/__init__.py
  python/pytauri/src/pytauri/ffi/_ext_mod.py
  python/pytauri/src/pytauri/ffi/lib.py
  python/pytauri/src/pytauri/ffi/tray.py
  python/pytauri/src/pytauri/ffi/webview.py
Due: python-fmt, rust-fmt, python-type-check

chore: bump `pyo3` to `0.25`
  Cargo.lock
  Cargo.toml
  crates/pytauri-core/src/ext_mod_impl/ipc.rs
  crates/pytauri-core/src/lib.rs
  docs/usage/tutorial/using-pytauri.md
  python/pytauri-wheel/Cargo.toml
  python/pytauri/src/pytauri/ffi/ipc.py
  python/pytauri/src/pytauri/ffi/menu.py
Due: python-fmt, rust-fmt, python-type-check

docs: changelog
  CHANGELOG.md
  crates/pyo3-utils/CHANGELOG.md
Due: none

chore: bump `pyo3` to `0.25` (#158)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/pyo3-utils/CHANGELOG.md
  crates/pytauri-core/src/ext_mod_impl/ipc.rs
  crates/pytauri-core/src/lib.rs
  docs/usage/tutorial/using-pytauri.md
  python/pytauri-wheel/Cargo.toml
  python/pytauri/src/pytauri/ffi/ipc.py
  python/pytauri/src/pytauri/ffi/menu.py
Due: python-fmt, rust-fmt, python-type-check

refactor: modularize the `standalone` module
  crates/pytauri/Cargo.toml
  crates/pytauri/src/lib.rs
  crates/pytauri/src/standalone/_post_init_pyi.py
  crates/pytauri/src/standalone/mod.rs
  crates/pytauri/src/standalone/pyembed.rs
Due: python-fmt, rust-fmt, python-type-check
