Repository pytauri/pytauri: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock, python-fmt, rust-fmt, python-type-check

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit, commit-msg]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: no-commit-to-branch
      - id: check-added-large-files
      - id: check-toml
      - id: check-json
        exclude: (^|/)\.vscode(/.*|$)|.*tsconfig.* # json5
      - id: check-yaml
        args:
          - --unsafe
        exclude: pnpm-lock.yaml
      - id: end-of-file-fixer
        exclude: .*\/schemas\/.*\.json # generated automatically by `tauri-cli`
      - id: trailing-whitespace
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.19.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        # NOTE: the dependencies must consistent with `commitlint.config.js`
        additional_dependencies: ["@commitlint/config-conventional"]
  - repo: local
    hooks:
      # ref: <https://github.com/astral-sh/uv-pre-commit/blob/97775dd8479651d7bc0f21fc2d0b960de1ef6267/.pre-commit-hooks.yaml#L11-L20>
      - id: uv-lock
        name: uv-lock
        language: system
        files: ^(uv\.lock|pyproject\.toml|uv\.toml)$
        entry: uv lock
        pass_filenames: false
      - id: python-fmt
        stages: [pre-commit]
        name: python format
        language: script
        types: [python]
        entry: scripts/python-fmt.sh
        pass_filenames: false
      - id: rust-fmt
        stages: [pre-commit]
        name: rust format
        language: system
        types: [rust]
        entry: cargo fmt --all
        pass_filenames: false
      - id: typos
        stages: [pre-commit]
        name: typos
        language: system
        entry: typos -w
        pass_filenames: false

      - id: python-type-check
        stages: [pre-commit]
        name: python type check
        language: system
        types: [python]
        entry: pnpm pyright .
        pass_filenames: false

      # TODO, FIXME: typescript fmt

      - id: python-verifytypes
        stages: [manual] # because it's slow
        name: python type check
        language: script
        types: [python]
        entry: scripts/python-verifytypes.sh
        pass_filenames: false
      - id: cargo-clippy # rustup component add clippy
        stages: [manual] # because it's slow
        name: cargo clippy
        language: system
        types: [rust]
        entry: cargo clippy --workspace --exclude=pytauri-test --all-features -- -D warnings
        pass_filenames: false

      # 1. Check if TypeScript can compile successfully (typescript check).
      # 2. Check if the JS build dist snapshot tracked for the crate is updated,
      #    such as `tauri-plugin-pytauri/guest-js/dist/api-iife.*.js`.
      # NOTE: Keep this step after `cargo build` to check that
      # all dist snapshot required for the crate are tracked.
      - id: pnpm-build-snapshot
        stages: [manual] # because it's slow
        name: pnpm build snapshot
        language: system
        types_or: [javascript, jsx, ts, tsx]
        entry: pnpm -r build
        pass_filenames: false

      - id: python-test
        stages: [manual] # because it's slow
        name: python test
        language: script
        types: [python]
        # TODO: more tests
        entry: scripts/python-test.sh
        pass_filenames: false
      - id: rust-test-all
        stages: [manual] # because it's slow
        name: rust test all
        language: system
        types: [rust]
        entry: cargo test --workspace --exclude=pytauri-test --all-features
        pass_filenames: false
      - id: rust-test-crate
        stages: [manual] # because it's slow
        name: rust test crate
        language: system
        types: [rust]
        entry: cargo test -p pytauri-test --features="test"
        pass_filenames: false

      # TODO, FIXME: rust doc check

feat: support json `str | bytes` or `dict` as input for `tauri::Config`
  Cargo.lock
  crates/pyo3-utils/Cargo.toml
  crates/pyo3-utils/src/lib.rs
  crates/pyo3-utils/src/serde.rs
  crates/pytauri-core/Cargo.toml
  crates/pytauri-core/src/ext_mod_impl/lib/app_handle.rs
  crates/pytauri-core/src/ext_mod_impl/lib/runtime.rs
  crates/pytauri-core/src/lib.rs
  docs_src/pytauri_wheel/example/main.py
  examples/tauri-app-wheel/python/src/tauri_app_wheel/__init__.py
  python/pytauri-wheel/pyproject.toml
  python/pytauri-wheel/python/pytauri_wheel/lib.py
  python/pytauri-wheel/src/lib.rs
  python/pytauri/src/pytauri/ffi/_typing.py
  python/pytauri/src/pytauri/ffi/lib.py
  python/pytauri/src/pytauri/ffi/tray.py
  python/pytauri/src/pytauri_plugins/dialog/ffi.py
  uv.lock
Due: uv-lock, python-fmt, rust-fmt, python-type-check

docs: changelog
  CHANGELOG.md
  crates/pyo3-utils/CHANGELOG.md
  crates/pytauri-core/CHANGELOG.md
  python/pytauri-wheel/CHANGELOG.md
  python/pytauri/CHANGELOG.md
Due: none

feat: support json `str | bytes` or `dict` as input for `tauri::Config` (#262)
  CHANGELOG.md
  Cargo.lock
  crates/pyo3-utils/CHANGELOG.md
  crates/pyo3-utils/Cargo.toml
  crates/pyo3-utils/src/lib.rs
  crates/pyo3-utils/src/serde.rs
  crates/pytauri-core/CHANGELOG.md
  crates/pytauri-core/Cargo.toml
  crates/pytauri-core/src/ext_mod_impl/lib/app_handle.rs
  crates/pytauri-core/src/ext_mod_impl/lib/runtime.rs
  crates/pytauri-core/src/lib.rs
  docs_src/pytauri_wheel/example/main.py
  examples/tauri-app-wheel/python/src/tauri_app_wheel/__init__.py
  python/pytauri-wheel/CHANGELOG.md
  python/pytauri-wheel/pyproject.toml
  python/pytauri-wheel/python/pytauri_wheel/lib.py
  python/pytauri-wheel/src/lib.rs
  python/pytauri/CHANGELOG.md
  python/pytauri/src/pytauri/ffi/_typing.py
  python/pytauri/src/pytauri/ffi/lib.py
  python/pytauri/src/pytauri/ffi/tray.py
  python/pytauri/src/pytauri_plugins/dialog/ffi.py
  uv.lock
Due: uv-lock, python-fmt, rust-fmt, python-type-check

build: remove upper version constraint for `build-system.requires` deps
  docs/usage/tutorial/build-sdist.md
  docs/usage/tutorial/build-standalone-cython.md
  docs/usage/tutorial/using-pytauri.md
  examples/nicegui-app/pyproject.toml
  examples/tauri-app-wheel/python/pyproject.toml
  examples/tauri-app/src-tauri/pyproject.toml
  pyproject.toml
  python/codelldb/pyproject.toml
  python/pyfuture/pyproject.toml
  python/pyo3-utils/pyproject.toml
  python/pytauri-wheel/pyproject.toml
  python/pytauri/pyproject.toml
  tests/pytauri-test/pyproject.toml
  uv.lock
Due: uv-lock

docs: changelog
  CHANGELOG.md
Due: none

build: remove upper version constraint for `build-system.requires` deps (#263)
  CHANGELOG.md
  docs/usage/tutorial/build-sdist.md
  docs/usage/tutorial/build-standalone-cython.md
  docs/usage/tutorial/using-pytauri.md
  examples/nicegui-app/pyproject.toml
  examples/tauri-app-wheel/python/pyproject.toml
  examples/tauri-app/src-tauri/pyproject.toml
  pyproject.toml
  python/codelldb/pyproject.toml
  python/pyfuture/pyproject.toml
  python/pyo3-utils/pyproject.toml
  python/pytauri-wheel/pyproject.toml
  python/pytauri/pyproject.toml
  tests/pytauri-test/pyproject.toml
  uv.lock
Due: uv-lock

feat(pytauri): add `WebviewWindowBuilder` bingdings
  .vscode/settings.json
  crates/pyo3-utils/Cargo.toml
  crates/pyo3-utils/src/from_py_dict.rs
  crates/pytauri-core/Cargo.toml
  crates/pytauri-core/src/ext_mod_impl/lib/runtime.rs
  crates/pytauri-core/src/ext_mod_impl/lib/url.rs
  crates/pytauri-core/src/ext_mod_impl/webview.rs
  crates/pytauri-core/src/ext_mod_impl/window.rs
  crates/pytauri-core/src/lib.rs
  crates/pytauri-core/src/plugins/dialog/mod.rs
  crates/pytauri-core/src/plugins/notification/mod.rs
  crates/pytauri/Cargo.toml
  crates/pytauri/src/lib.rs
  python/pytauri-wheel/Cargo.toml
  python/pytauri-wheel/src/lib.rs
  python/pytauri/src/pytauri/__init__.py
  python/pytauri/src/pytauri/ffi/__init__.py
  python/pytauri/src/pytauri/ffi/lib.py
  python/pytauri/src/pytauri/ffi/webview.py
  python/pytauri/src/pytauri/webview.py
Due: python-fmt, rust-fmt, python-type-check

feat(pytauri): add `WebviewWindowBuilder` bindings
  .vscode/settings.json
  crates/pyo3-utils/Cargo.toml
  crates/pyo3-utils/src/from_py_dict.rs
  crates/pytauri-core/Cargo.toml
  crates/pytauri-core/src/ext_mod_impl/lib/runtime.rs
  crates/pytauri-core/src/ext_mod_impl/lib/url.rs
  crates/pytauri-core/src/ext_mod_impl/webview.rs
  crates/pytauri-core/src/ext_mod_impl/window.rs
  crates/pytauri-core/src/lib.rs
  crates/pytauri-core/src/plugins/dialog/mod.rs
  crates/pytauri-core/src/plugins/notification/mod.rs
  crates/pytauri/Cargo.toml
  crates/pytauri/src/lib.rs
  python/pytauri-wheel/Cargo.toml
  python/pytauri-wheel/src/lib.rs
  python/pytauri/src/pytauri/__init__.py
  python/pytauri/src/pytauri/ffi/__init__.py
  python/pytauri/src/pytauri/ffi/lib.py
  python/pytauri/src/pytauri/ffi/webview.py
  python/pytauri/src/pytauri/webview.py
Due: python-fmt, rust-fmt, python-type-check

docs: changelog
  CHANGELOG.md
  crates/pyo3-utils/CHANGELOG.md
  crates/pytauri-core/CHANGELOG.md
  crates/pytauri/CHANGELOG.md
  python/pytauri-wheel/CHANGELOG.md
  python/pytauri/CHANGELOG.md
Due: none

chore: fix typos
  crates/pyo3-utils/CHANGELOG.md
  crates/pyo3-utils/src/from_py_dict.rs
Due: rust-fmt

feat(pytauri): add `WebviewWindowBuilder` bindings (#265)
  .vscode/settings.json
  CHANGELOG.md
  crates/pyo3-utils/CHANGELOG.md
  crates/pyo3-utils/Cargo.toml
  crates/pyo3-utils/src/from_py_dict.rs
  crates/pytauri-core/CHANGELOG.md
  crates/pytauri-core/Cargo.toml
  crates/pytauri-core/src/ext_mod_impl/lib/runtime.rs
  crates/pytauri-core/src/ext_mod_impl/lib/url.rs
  crates/pytauri-core/src/ext_mod_impl/webview.rs
  crates/pytauri-core/src/ext_mod_impl/window.rs
  crates/pytauri-core/src/lib.rs
  crates/pytauri-core/src/plugins/dialog/mod.rs
  crates/pytauri-core/src/plugins/notification/mod.rs
  crates/pytauri/CHANGELOG.md
  crates/pytauri/Cargo.toml
  crates/pytauri/src/lib.rs
  python/pytauri-wheel/CHANGELOG.md
  python/pytauri-wheel/Cargo.toml
  python/pytauri-wheel/src/lib.rs
  python/pytauri/CHANGELOG.md
  python/pytauri/src/pytauri/__init__.py
  python/pytauri/src/pytauri/ffi/__init__.py
  python/pytauri/src/pytauri/ffi/lib.py
  python/pytauri/src/pytauri/ffi/webview.py
  python/pytauri/src/pytauri/webview.py
Due: python-fmt, rust-fmt, python-type-check

docs: add discord server link
  .github/ISSUE_TEMPLATE/config.yml
  CHANGELOG.md
  README.md
  docs/usage/tutorial/getting-started.md
  docs/usage/tutorial/index.md
Due: none

docs: add discord server link (#266)
  .github/ISSUE_TEMPLATE/config.yml
  CHANGELOG.md
  README.md
  docs/usage/tutorial/getting-started.md
  docs/usage/tutorial/index.md
Due: none

fix(gen-ts): fix TS `verbatimModuleSyntax` error in generated IPC client
  crates/tauri-plugin-pytauri/guest-js/src/index.ts
  docs/usage/tutorial/gen-ts.md
  examples/tauri-app-wheel/tsconfig.json
  examples/tauri-app/src/client/apiClient.ts
  examples/tauri-app/tsconfig.json
  python/pytauri/src/pytauri/_gen_ts.py
  tsconfig.base.json
Due: python-fmt, python-type-check

docs: changelog
  python/pytauri/CHANGELOG.md
Due: none

fix(gen-ts): fix TS `verbatimModuleSyntax` error in generated IPC client (#268)
  crates/tauri-plugin-pytauri/guest-js/src/index.ts
  docs/usage/tutorial/gen-ts.md
  examples/tauri-app-wheel/tsconfig.json
  examples/tauri-app/src/client/apiClient.ts
  examples/tauri-app/tsconfig.json
  python/pytauri/CHANGELOG.md
  python/pytauri/src/pytauri/_gen_ts.py
  tsconfig.base.json
Due: python-fmt, python-type-check

chore(release): bump version to `0.8.0`
  Cargo.lock
  Cargo.toml
  crates/pyo3-utils/CHANGELOG.md
  crates/pyo3-utils/Cargo.toml
  crates/pytauri-core/CHANGELOG.md
  crates/pytauri-core/Cargo.toml
  crates/pytauri/CHANGELOG.md
  crates/pytauri/Cargo.toml
  crates/tauri-plugin-pytauri/CHANGELOG.md
  crates/tauri-plugin-pytauri/Cargo.toml
  crates/tauri-plugin-pytauri/guest-js/CHANGELOG.md
  crates/tauri-plugin-pytauri/guest-js/package.json
  python/pytauri-wheel/CHANGELOG.md
  python/pytauri-wheel/Cargo.toml
  python/pytauri-wheel/pyproject.toml
  python/pytauri/CHANGELOG.md
  python/pytauri/pyproject.toml
  uv.lock
Due: uv-lock

chore(release): bump version to `0.8.0` (#269)
  Cargo.lock
  Cargo.toml
  crates/pyo3-utils/CHANGELOG.md
  crates/pyo3-utils/Cargo.toml
  crates/pytauri-core/CHANGELOG.md
  crates/pytauri-core/Cargo.toml
  crates/pytauri/CHANGELOG.md
  crates/pytauri/Cargo.toml
  crates/tauri-plugin-pytauri/CHANGELOG.md
  crates/tauri-plugin-pytauri/Cargo.toml
  crates/tauri-plugin-pytauri/guest-js/CHANGELOG.md
  crates/tauri-plugin-pytauri/guest-js/package.json
  python/pytauri-wheel/CHANGELOG.md
  python/pytauri-wheel/Cargo.toml
  python/pytauri-wheel/pyproject.toml
  python/pytauri/CHANGELOG.md
  python/pytauri/pyproject.toml
  uv.lock
Due: uv-lock

chore: switch from bash scripts to justfile
  .pre-commit-config.yaml
  justfile
  pyproject.toml
  scripts/README.md
  scripts/docs-build.sh
  scripts/docs-serve.sh
  scripts/python-fmt.sh
  scripts/python-test.sh
  scripts/python-verifytypes.sh
  uv.lock
Due: uv-lock

docs: update docs for v0.8.0
  CHANGELOG.md
  docs/usage/pytauri-wheel/index.md
  docs/usage/tutorial/py-js-ipc.md
  docs/usage/tutorial/using-pytauri.md
Due: none

docs: update docs for v0.8.0 (#271)
  CHANGELOG.md
  docs/usage/pytauri-wheel/index.md
  docs/usage/tutorial/py-js-ipc.md
  docs/usage/tutorial/using-pytauri.md
Due: none

fix(ipc): handle synchronous functions in Commands class by using to_thread
  python/pytauri/src/pytauri/ipc.py
Due: python-fmt, python-type-check

replacing iscoroutine to isawaitable
  python/pytauri/src/pytauri/ipc.py
Due: python-fmt, python-type-check

fix(ipc): handle normal sync functions
  python/pytauri/src/pytauri/ipc.py
Due: python-fmt, python-type-check

feat(ipc): add sync command test case
  python/pytauri/src/pytauri/ipc.py
  tests/pytauri-test/python/pytauri_test/__init__.py
  tests/pytauri-test/tests/ipc.rs
Due: python-fmt, rust-fmt, python-type-check

chore: foo
  .pre-commit-config.yaml
Due: none

ci(pre-commit): some hooks are not executed in CI (`manual` stage)
  .pre-commit-config.yaml
  scripts/python-test.sh
Due: none

fix: do not enable `commitlint` hook for `manual` stage
  .pre-commit-config.yaml
  CHANGELOG.md
Due: none

ci(pre-commit): some hooks are not executed in CI (`manual` stage) (#275)
  .pre-commit-config.yaml
  CHANGELOG.md
  scripts/python-test.sh
Due: none

docs: improve CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

docs: instruct windows users to use the Git terminal instead of MSYS2
  CONTRIBUTING.md
Due: none

docs: rewrite the debugging section in CONTRIBUTING.md to point to the documentation site
  CONTRIBUTING.md
Due: none

docs: rewrite the 'Pull Requests' section in CONTRIBUTING.md to make it clearer
  CONTRIBUTING.md
Due: none

Revert #ca11f9f "docs: rewrite the 'Pull Requests' section in CONTRIBUTING.md to make it clearer"
  CONTRIBUTING.md
Due: none

docs: revert all non-gramatical fixes in CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

docs: fix grammatical errors in README.md
  README.md
Due: none
