Repository pytauri/pytauri: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock, python-fmt, rust-fmt, python-type-check

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit, commit-msg]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: no-commit-to-branch
      - id: check-added-large-files
      - id: check-toml
      - id: check-json
        exclude: (^|/)\.vscode(/.*|$)|.*tsconfig.* # json5
      - id: check-yaml
        args:
          - --unsafe
        exclude: pnpm-lock.yaml
      - id: end-of-file-fixer
        exclude: .*\/schemas\/.*\.json # generated automatically by `tauri-cli`
      - id: trailing-whitespace
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.19.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        # NOTE: the dependencies must consistent with `commitlint.config.js`
        additional_dependencies: ["@commitlint/config-conventional"]
  - repo: local
    hooks:
      # ref: <https://github.com/astral-sh/uv-pre-commit/blob/97775dd8479651d7bc0f21fc2d0b960de1ef6267/.pre-commit-hooks.yaml#L11-L20>
      - id: uv-lock
        name: uv-lock
        language: system
        files: ^(uv\.lock|pyproject\.toml|uv\.toml)$
        entry: uv lock
        pass_filenames: false
      - id: python-fmt
        stages: [pre-commit]
        name: python format
        language: script
        types: [python]
        entry: scripts/python-fmt.sh
        pass_filenames: false
      - id: rust-fmt
        stages: [pre-commit]
        name: rust format
        language: system
        types: [rust]
        entry: cargo fmt --all
        pass_filenames: false
      - id: typos
        stages: [pre-commit]
        name: typos
        language: system
        entry: typos -w
        pass_filenames: false

      - id: python-type-check
        stages: [pre-commit]
        name: python type check
        language: system
        types: [python]
        entry: pnpm pyright .
        pass_filenames: false

      # TODO, FIXME: typescript fmt

      - id: python-verifytypes
        stages: [manual] # because it's slow
        name: python type check
        language: script
        types: [python]
        entry: scripts/python-verifytypes.sh
        pass_filenames: false
      - id: cargo-clippy # rustup component add clippy
        stages: [manual] # because it's slow
        name: cargo clippy
        language: system
        types: [rust]
        entry: cargo clippy --workspace --exclude=pytauri-test --all-features -- -D warnings
        pass_filenames: false

      # 1. Check if TypeScript can compile successfully (typescript check).
      # 2. Check if the JS build dist snapshot tracked for the crate is updated,
      #    such as `tauri-plugin-pytauri/guest-js/dist/api-iife.*.js`.
      # NOTE: Keep this step after `cargo build` to check that
      # all dist snapshot required for the crate are tracked.
      - id: pnpm-build-snapshot
        stages: [manual] # because it's slow
        name: pnpm build snapshot
        language: system
        types_or: [javascript, jsx, ts, tsx]
        entry: pnpm -r build
        pass_filenames: false

      - id: python-test
        stages: [manual] # because it's slow
        name: python test
        language: script
        types: [python]
        # TODO: more tests
        entry: scripts/python-test.sh
        pass_filenames: false
      - id: rust-test-all
        stages: [manual] # because it's slow
        name: rust test all
        language: system
        types: [rust]
        entry: cargo test --workspace --exclude=pytauri-test --all-features
        pass_filenames: false
      - id: rust-test-crate
        stages: [manual] # because it's slow
        name: rust test crate
        language: system
        types: [rust]
        entry: cargo test -p pytauri-test --features="test"
        pass_filenames: false

      # TODO, FIXME: rust doc check

feat: debug python
  .vscode/launch.json
  .vscode/settings.json
  examples/nicegui-app/pyproject.toml
  examples/nicegui-app/python/nicegui_app/__init__.py
  examples/nicegui-app/python/nicegui_app/_server.py
  examples/tauri-app/src-tauri/pyproject.toml
  examples/tauri-app/src-tauri/python/tauri_app/__main__.py
  pyproject.toml
  python/pyfuture/src/pyfuture/__init__.py
  python/pyfuture/tests/test_runner.py
  python/pytauri/src/pytauri/ffi/window.py
  python/pytauri/src/pytauri/ipc.py
  python/pytauri/src/pytauri_plugins/__init__.py
  uv.lock
Due: uv-lock, python-fmt, python-type-check

feat: debug rust
  .vscode/settings.json
  examples/tauri-app/src-tauri/python/tauri_app/__main__.py
Due: python-fmt, python-type-check

refactor(codelldb)!: programmatically launch codelldb
  examples/tauri-app/src-tauri/python/tauri_app/__main__.py
  python/codelldb/src/codelldb/__init__.py
Due: python-fmt, python-type-check

feat: add `Manager::{state, try_state, manage}` and `async_tools`
  crates/pytauri-core/src/ext_mod_impl/lib/manager.rs
  examples/tauri-app/src-tauri/python/tauri_app/__init__.py
  python/pytauri/src/pytauri/ffi/lib.py
  python/pytauri/src/pytauri_utils/__init__.py
  python/pytauri/src/pytauri_utils/async_tools/__init__.py
  python/pytauri/src/pytauri_utils/py.typed
Due: python-fmt, rust-fmt, python-type-check

feat: `state` dependency injection
  crates/pytauri-core/src/ext_mod_impl/ipc.rs
  crates/pytauri-core/src/ext_mod_impl/lib/manager.rs
  crates/pytauri-core/src/lib.rs
  examples/tauri-app/src-tauri/python/tauri_app/__init__.py
  pyproject.toml
  python/pytauri/pyproject.toml
  python/pytauri/src/pytauri/__init__.py
  python/pytauri/src/pytauri/ffi/ipc.py
  python/pytauri/src/pytauri/ffi/lib.py
  python/pytauri/src/pytauri/ipc.py
  uv.lock
Due: uv-lock, python-fmt, rust-fmt, python-type-check

feat: support registering plugin from python
  Cargo.lock
  crates/pytauri-core/Cargo.toml
  crates/pytauri-core/src/ext_mod_impl/lib/app_handle.rs
  crates/pytauri-core/src/ext_mod_impl/mod.rs
  crates/pytauri-core/src/ext_mod_impl/plugin.rs
  crates/pytauri-core/src/lib.rs
  crates/pytauri-core/src/plugins/dialog/mod.rs
  crates/pytauri-core/src/plugins/notification/mod.rs
  crates/pytauri/src/lib.rs
  examples/nicegui-app/pyproject.toml
  examples/nicegui-app/python/nicegui_app/__init__.py
  examples/nicegui-app/python/nicegui_app/_server.py
  examples/tauri-app/src-tauri/python/tauri_app/__init__.py
  examples/tauri-app/src-tauri/src/lib.rs
  python/pyfuture/src/pyfuture/__init__.py
  python/pyfuture/tests/test_runner.py
  python/pytauri/src/pytauri/ffi/lib.py
  python/pytauri/src/pytauri/ffi/plugin.py
  python/pytauri/src/pytauri/ffi/window.py
  python/pytauri/src/pytauri/ipc.py
  python/pytauri/src/pytauri/plugin.py
  python/pytauri/src/pytauri_plugins/__init__.py
  python/pytauri/src/pytauri_plugins/dialog/__init__.py
  python/pytauri/src/pytauri_plugins/dialog/ffi.py
  python/pytauri/src/pytauri_plugins/notification/__init__.py
  python/pytauri/src/pytauri_plugins/notification/ffi.py
Due: python-fmt, rust-fmt, python-type-check

feat: add `clipboard-manager` plugin
  .vscode/settings.json
  Cargo.lock
  Cargo.toml
  crates/pytauri-core/Cargo.toml
  crates/pytauri-core/src/plugins/clipboard_manager/mod.rs
  crates/pytauri-core/src/plugins/mod.rs
  crates/pytauri/Cargo.toml
  examples/tauri-app/src-tauri/Cargo.toml
  examples/tauri-app/src-tauri/capabilities/default.json
  examples/tauri-app/src-tauri/python/tauri_app/__init__.py
  python/pytauri/src/pytauri_plugins/__init__.py
  python/pytauri/src/pytauri_plugins/clipboard_manager/__init__.py
  python/pytauri/src/pytauri_plugins/clipboard_manager/ffi.py
Due: python-fmt, rust-fmt, python-type-check

feat: add `fs` plugin
  .vscode/settings.json
  Cargo.lock
  crates/pytauri-core/Cargo.toml
  crates/pytauri-core/src/plugins/fs/mod.rs
  crates/pytauri-core/src/plugins/mod.rs
  crates/pytauri/Cargo.toml
  examples/tauri-app/src-tauri/Cargo.toml
  examples/tauri-app/src-tauri/capabilities/default.json
  examples/tauri-app/src-tauri/python/tauri_app/__init__.py
  python/pytauri-wheel/Cargo.toml
  python/pytauri/src/pytauri_plugins/__init__.py
  python/pytauri/src/pytauri_plugins/fs/__init__.py
  python/pytauri/src/pytauri_plugins/fs/ffi.py
Due: python-fmt, rust-fmt, python-type-check

feat: add `opener` plugin
  .vscode/settings.json
  Cargo.lock
  crates/pytauri-core/Cargo.toml
  crates/pytauri-core/src/plugins/mod.rs
  crates/pytauri-core/src/plugins/opener/mod.rs
  crates/pytauri-core/src/utils.rs
  crates/pytauri/Cargo.toml
  examples/tauri-app/src-tauri/Cargo.toml
  examples/tauri-app/src-tauri/capabilities/default.json
  examples/tauri-app/src-tauri/python/tauri_app/__init__.py
  examples/tauri-app/src-tauri/src/lib.rs
  python/pytauri-wheel/Cargo.toml
  python/pytauri/src/pytauri_plugins/__init__.py
  python/pytauri/src/pytauri_plugins/opener/__init__.py
  python/pytauri/src/pytauri_plugins/opener/ffi.py
Due: python-fmt, rust-fmt, python-type-check

feat: better error handling
  crates/pytauri-core/Cargo.toml
  crates/pytauri-core/src/ext_mod_impl/lib/app_handle.rs
  crates/pytauri-core/src/plugins/clipboard_manager/mod.rs
  crates/pytauri-core/src/plugins/dialog/mod.rs
  crates/pytauri-core/src/plugins/fs/mod.rs
  crates/tauri-plugin-pytauri/src/lib.rs
Due: rust-fmt

refactor: move `BoxedPluginWrapper` behind `__private` feature gate
  crates/pytauri-core/src/ext_mod_impl/plugin.rs
  crates/pytauri-core/src/lib.rs
Due: rust-fmt

feat: add `tauri::{IS_DEV, RESTART_EXIT_CODE, VERSION, webview_version}`
  crates/pytauri-core/src/ext_mod_impl/lib/mod.rs
  crates/pytauri-core/src/lib.rs
  python/pytauri/src/pytauri/__init__.py
  python/pytauri/src/pytauri/ffi/__init__.py
  python/pytauri/src/pytauri/ffi/lib.py
Due: python-fmt, rust-fmt, python-type-check

docs: debugging tutorial docs
  .vscode/settings.json
  CHANGELOG.md
  docs/usage/concepts/mutiprocessing.md
  docs/usage/tutorial/build-sdist.md
  docs/usage/tutorial/build-standalone-cython.md
  docs/usage/tutorial/build-standalone.md
  docs/usage/tutorial/build-wheel.md
  docs/usage/tutorial/debugging.md
  docs/usage/tutorial/gen-ts.md
  docs/usage/tutorial/py-js-ipc.md
  docs/usage/tutorial/using-plugins.md
  docs/usage/tutorial/using-pytauri.md
  docs_src/tutorial/build_sdist/setup.py
  docs_src/tutorial/build_sdist/vite.config.ts
  docs_src/tutorial/build_standalone/cython/setup.py
  docs_src/tutorial/debugging/__main__.py
  docs_src/tutorial/using_pytauri/__init__.py
  docs_src/tutorial/using_pytauri/__main__.py
  docs_src/tutorial/using_pytauri/lib.rs
  docs_src/tutorial/using_pytauri/main.rs
  docs_src/tutorial/using_pytauri/vite.config.ts
  examples/tauri-app/src-tauri/pyproject.toml
  mkdocs.yml
  package.json
  pnpm-lock.yaml
  pyproject.toml
  uv.lock
Due: uv-lock, python-fmt, rust-fmt, python-type-check

build(docs): bump `mkdocs-section-index ~= 0.3.10`
  pyproject.toml
  uv.lock
Due: uv-lock

docs: changelog
  CHANGELOG.md
  crates/pytauri-core/CHANGELOG.md
  docs/usage/tutorial/debugging.md
  python/codelldb/CHANGELOG.md
  python/codelldb/src/codelldb/__init__.py
  python/pytauri/CHANGELOG.md
Due: python-fmt, python-type-check

docs: api docs
  mkdocs.yml
  python/pytauri/src/pytauri/ffi/ipc.py
  python/pytauri/src/pytauri/ipc.py
  python/pytauri/src/pytauri_utils/__init__.py
  python/pytauri/src/pytauri_utils/async_tools/__init__.py
Due: python-fmt, python-type-check

docs: docs for `state`
  docs/usage/concepts/ipc.md
  docs/usage/tutorial/state-management.md
  docs_src/tutorial/state_management/managing_accessing.py
  docs_src/tutorial/state_management/state_injection.py
  mkdocs.yml
Due: python-fmt, python-type-check

wip
  Cargo.lock
  crates/pyfuture/Cargo.toml
  crates/pyfuture/src/future/mod.rs
  crates/pyfuture/src/future/py.rs
  crates/pyfuture/src/future/rust.rs
  crates/pyfuture/src/lib.rs
  crates/pyfuture/src/runner.rs
  foo copy 2.py
  foo copy.py
  foo.py
Due: python-fmt, rust-fmt, python-type-check

wip
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  crates/pyfuture/Cargo.toml
  crates/pyfuture/src/lib copy.rs
  foo.py
Due: python-fmt, rust-fmt, python-type-check

docs: docs for `AsyncTools`
  docs/usage/concepts/async.md
  docs/usage/tutorial/py-js-ipc.md
  docs_src/concepts/async/async_tools_state.py
  docs_src/concepts/async/start_soon_in_background.py
  docs_src/concepts/async/to_async.py
  docs_src/concepts/async/to_sync.py
  mkdocs.yml
Due: python-fmt, python-type-check

docs: changelog
  CHANGELOG.md
  crates/pytauri-core/CHANGELOG.md
  python/pytauri/CHANGELOG.md
Due: none

wip
  foo.py
Due: python-fmt, python-type-check

wip
  python/pyfuture/src/pyfuture/__init__.py
  python/pyfuture/tests/test_runner.py
Due: python-fmt, python-type-check

feat(pytauri)!: app state management and `AsyncTools` utils (#208)
  CHANGELOG.md
  crates/pytauri-core/CHANGELOG.md
  crates/pytauri-core/src/ext_mod_impl/ipc.rs
  crates/pytauri-core/src/ext_mod_impl/lib/manager.rs
  crates/pytauri-core/src/lib.rs
  docs/usage/concepts/async.md
  docs/usage/concepts/ipc.md
  docs/usage/tutorial/py-js-ipc.md
  docs/usage/tutorial/state-management.md
  docs_src/concepts/async/async_tools_state.py
  docs_src/concepts/async/start_soon_in_background.py
  docs_src/concepts/async/to_async.py
  docs_src/concepts/async/to_sync.py
  docs_src/tutorial/state_management/managing_accessing.py
  docs_src/tutorial/state_management/state_injection.py
  examples/tauri-app/src-tauri/python/tauri_app/__init__.py
  mkdocs.yml
  pyproject.toml
  python/pytauri/CHANGELOG.md
  python/pytauri/pyproject.toml
  python/pytauri/src/pytauri/__init__.py
  python/pytauri/src/pytauri/ffi/ipc.py
  python/pytauri/src/pytauri/ffi/lib.py
  python/pytauri/src/pytauri/ipc.py
  python/pytauri/src/pytauri_utils/__init__.py
  python/pytauri/src/pytauri_utils/async_tools/__init__.py
  python/pytauri/src/pytauri_utils/py.typed
  uv.lock
Due: uv-lock, python-fmt, rust-fmt, python-type-check

chore(release): bump version to `0.7.0`
  Cargo.lock
  Cargo.toml
  crates/pytauri-core/CHANGELOG.md
  crates/pytauri-core/Cargo.toml
  crates/pytauri/CHANGELOG.md
  crates/pytauri/Cargo.toml
  crates/tauri-plugin-pytauri/CHANGELOG.md
  crates/tauri-plugin-pytauri/Cargo.toml
  crates/tauri-plugin-pytauri/guest-js/CHANGELOG.md
  crates/tauri-plugin-pytauri/guest-js/package.json
  python/codelldb/CHANGELOG.md
  python/codelldb/pyproject.toml
  python/pytauri-wheel/CHANGELOG.md
  python/pytauri-wheel/Cargo.toml
  python/pytauri-wheel/pyproject.toml
  python/pytauri/CHANGELOG.md
  python/pytauri/pyproject.toml
  uv.lock
Due: uv-lock

chore(release): bump version to `0.7.0` (#236)
  Cargo.lock
  Cargo.toml
  crates/pytauri-core/CHANGELOG.md
  crates/pytauri-core/Cargo.toml
  crates/pytauri/CHANGELOG.md
  crates/pytauri/Cargo.toml
  crates/tauri-plugin-pytauri/CHANGELOG.md
  crates/tauri-plugin-pytauri/Cargo.toml
  crates/tauri-plugin-pytauri/guest-js/CHANGELOG.md
  crates/tauri-plugin-pytauri/guest-js/package.json
  python/codelldb/CHANGELOG.md
  python/codelldb/pyproject.toml
  python/pytauri-wheel/CHANGELOG.md
  python/pytauri-wheel/Cargo.toml
  python/pytauri-wheel/pyproject.toml
  python/pytauri/CHANGELOG.md
  python/pytauri/pyproject.toml
  uv.lock
Due: uv-lock

docs: update docs for v0.7.0
  CHANGELOG.md
  docs/usage/pytauri-wheel/index.md
  docs/usage/tutorial/py-js-ipc.md
  docs/usage/tutorial/using-pytauri.md
Due: none

docs: update docs for v0.7.0 (#237)
  CHANGELOG.md
  docs/usage/pytauri-wheel/index.md
  docs/usage/tutorial/py-js-ipc.md
  docs/usage/tutorial/using-pytauri.md
Due: none

wip
  crates/pyfuture/src/lib.rs
  foo copy 3.py
Due: python-fmt, rust-fmt, python-type-check
