Repository pytauri/pytauri: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock, python-fmt, rust-fmt, python-type-check

uv-lock:
  name: uv-lock
  language: system
  entry: uv lock
  pass_filenames: false

python-fmt:
  stages:
  - pre-commit
  name: python format
  language: script
  entry: scripts/python-fmt.sh
  pass_filenames: false

rust-fmt:
  stages:
  - pre-commit
  name: rust format
  language: system
  entry: cargo fmt --all
  pass_filenames: false

python-type-check:
  stages:
  - pre-commit
  name: python type check
  language: system
  entry: pnpm pyright .
  pass_filenames: false

wip
  crates/pyfuture/src/lib.rs
  foo.py
Due: python-fmt, rust-fmt, python-type-check

fix(pytauri): include `pytauri_utils` in package
  mkdocs.yml
  python/pytauri/pyproject.toml
  scripts/python-verifytypes.sh
Due: none

docs: changelog
  CHANGELOG.md
  python/pytauri/CHANGELOG.md
Due: none

fix(pytauri): include `pytauri_utils` in package (#240)
  CHANGELOG.md
  mkdocs.yml
  python/pytauri/CHANGELOG.md
  python/pytauri/pyproject.toml
  scripts/python-verifytypes.sh
Due: none

wip
  crates/pyfuture/src/lib.rs
Due: rust-fmt

chore(release): bump `py/pytauri` version to `0.7.1`
  python/pytauri/pyproject.toml
  uv.lock
Due: uv-lock

chore(release): bump `py/pytauri` version to `0.7.1` (#241)
  python/pytauri/pyproject.toml
  uv.lock
Due: uv-lock

wip
  Cargo.lock
  crates/pyfuture/Cargo.toml
  crates/pyfuture/src/lib.rs
Due: rust-fmt

wip
  Cargo.lock
  crates/pyfuture/Cargo.toml
  crates/pyfuture/src/future/mod.rs
  crates/pyfuture/src/future/py.rs
  crates/pyfuture/src/future/rust.rs
  crates/pyfuture/src/lib.rs
  crates/pyfuture/src/runner.rs
  foo copy 2.py
  foo copy.py
  foo.py
Due: python-fmt, rust-fmt, python-type-check

wip
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  crates/pyfuture/Cargo.toml
  crates/pyfuture/src/lib copy.rs
  foo.py
Due: python-fmt, rust-fmt, python-type-check

wip
  foo.py
Due: python-fmt, python-type-check

wip
  crates/pyfuture/src/lib.rs
  foo copy 3.py
Due: python-fmt, rust-fmt, python-type-check

wip
  python/pyfuture/src/pyfuture/__init__.py
  python/pyfuture/tests/test_runner.py
Due: python-fmt, python-type-check

wip
  .vscode/settings.json
  Cargo.lock
  crates/pyfuture/Cargo.toml
  crates/pyfuture/src/lib copy 2.rs
  crates/pyfuture/src/lib copy 3.rs
Due: rust-fmt

wip
  crates/pyfuture/src/lib copy 2.rs
  crates/pyfuture/src/lib copy 3.rs
  crates/pyfuture/src/lib copy.rs
  foo copy 2.py
  foo copy 3.py
  foo copy.py
  foo.py
  python/pyfuture/src/pyfuture/__init__.py
Due: python-fmt, rust-fmt, python-type-check

fix(pytauri): support deferred evaluation type hint in `@command`
  python/pytauri/src/pytauri/ipc.py
Due: python-fmt, python-type-check

fix(pytauri): support deferred evaluation type hint in `@command` (#253)
  CHANGELOG.md
  python/pytauri/CHANGELOG.md
  python/pytauri/src/pytauri/ipc.py
Due: python-fmt, python-type-check

docs: add note on "patching install_name of libpython on macOS"
  docs/usage/tutorial/build-standalone.md
Due: none

docs: changelog
  CHANGELOG.md
Due: none

docs(fix): add note on "patching install_name of libpython" for macOS standalone (#254)
  CHANGELOG.md
  docs/usage/tutorial/build-standalone.md
Due: none

chore(release): bump `py/pytauri` version to `0.7.2`
  CHANGELOG.md
  python/pytauri/CHANGELOG.md
  python/pytauri/pyproject.toml
  uv.lock
Due: uv-lock

chore(release): bump `py/pytauri` version to `0.7.2` (#255)
  CHANGELOG.md
  python/pytauri/CHANGELOG.md
  python/pytauri/pyproject.toml
  uv.lock
Due: uv-lock

Deployed 5277120 to 0.7 with MkDocs 1.6.1 and mike 2.1.3
  0.7/CHANGELOG/index.html
  0.7/CHANGELOG/py/pytauri/index.html
  0.7/reference/py/SUMMARY/index.html
  0.7/reference/py/codelldb/index.html
  0.7/reference/py/pyo3_utils/index.html
  0.7/reference/py/pytauri/ffi/image/index.html
  0.7/reference/py/pytauri/ffi/index.html
  0.7/reference/py/pytauri/ffi/ipc/index.html
  0.7/reference/py/pytauri/ffi/lib/index.html
  0.7/reference/py/pytauri/ffi/menu/index.html
  0.7/reference/py/pytauri/ffi/path/index.html
  0.7/reference/py/pytauri/ffi/tray/index.html
  0.7/reference/py/pytauri/ffi/webview/index.html
  0.7/reference/py/pytauri/ffi/window/index.html
  0.7/reference/py/pytauri/image/index.html
  0.7/reference/py/pytauri/index.html
  0.7/reference/py/pytauri/ipc/index.html
  0.7/reference/py/pytauri/menu/index.html
  0.7/reference/py/pytauri/path/index.html
  0.7/reference/py/pytauri/tray/index.html
  0.7/reference/py/pytauri/webview/index.html
  0.7/reference/py/pytauri/window/index.html
  0.7/reference/py/pytauri_plugins/dialog/ffi/index.html
  0.7/reference/py/pytauri_plugins/dialog/index.html
  0.7/reference/py/pytauri_plugins/index.html
  0.7/reference/py/pytauri_plugins/notification/ffi/index.html
  0.7/reference/py/pytauri_plugins/notification/index.html
  0.7/reference/py/pytauri_utils/async_tools/index.html
  0.7/reference/py/pytauri_utils/index.html
  0.7/reference/py/pytauri_wheel/index.html
  0.7/reference/py/pytauri_wheel/lib/index.html
  0.7/search/search_index.json
  0.7/sitemap.xml
  0.7/sitemap.xml.gz
  0.7/usage/tutorial/build-standalone/index.html
Due: none

feat: support registering plugin from python
  Cargo.lock
  crates/pytauri-core/Cargo.toml
  crates/pytauri-core/src/ext_mod_impl/lib/app_handle.rs
  crates/pytauri-core/src/ext_mod_impl/mod.rs
  crates/pytauri-core/src/ext_mod_impl/plugin.rs
  crates/pytauri-core/src/lib.rs
  crates/pytauri-core/src/plugins/dialog/mod.rs
  crates/pytauri-core/src/plugins/notification/mod.rs
  crates/pytauri/src/lib.rs
  examples/tauri-app/src-tauri/python/tauri_app/__init__.py
  examples/tauri-app/src-tauri/src/lib.rs
  python/pytauri/src/pytauri/ffi/lib.py
  python/pytauri/src/pytauri/ffi/plugin.py
  python/pytauri/src/pytauri/plugin.py
  python/pytauri/src/pytauri_plugins/dialog/__init__.py
  python/pytauri/src/pytauri_plugins/dialog/ffi.py
  python/pytauri/src/pytauri_plugins/notification/__init__.py
  python/pytauri/src/pytauri_plugins/notification/ffi.py
Due: python-fmt, rust-fmt, python-type-check

feat: add `clipboard-manager` plugin
  .vscode/settings.json
  Cargo.lock
  Cargo.toml
  crates/pytauri-core/Cargo.toml
  crates/pytauri-core/src/plugins/clipboard_manager/mod.rs
  crates/pytauri-core/src/plugins/mod.rs
  crates/pytauri/Cargo.toml
  examples/tauri-app/src-tauri/Cargo.toml
  examples/tauri-app/src-tauri/capabilities/default.json
  examples/tauri-app/src-tauri/python/tauri_app/__init__.py
  python/pytauri/src/pytauri_plugins/__init__.py
  python/pytauri/src/pytauri_plugins/clipboard_manager/__init__.py
  python/pytauri/src/pytauri_plugins/clipboard_manager/ffi.py
Due: python-fmt, rust-fmt, python-type-check

feat: add `fs` plugin
  .vscode/settings.json
  Cargo.lock
  crates/pytauri-core/Cargo.toml
  crates/pytauri-core/src/plugins/fs/mod.rs
  crates/pytauri-core/src/plugins/mod.rs
  crates/pytauri/Cargo.toml
  examples/tauri-app/src-tauri/Cargo.toml
  examples/tauri-app/src-tauri/capabilities/default.json
  examples/tauri-app/src-tauri/python/tauri_app/__init__.py
  python/pytauri-wheel/Cargo.toml
  python/pytauri/src/pytauri_plugins/__init__.py
  python/pytauri/src/pytauri_plugins/fs/__init__.py
  python/pytauri/src/pytauri_plugins/fs/ffi.py
Due: python-fmt, rust-fmt, python-type-check

feat: add `opener` plugin
  .vscode/settings.json
  Cargo.lock
  crates/pytauri-core/Cargo.toml
  crates/pytauri-core/src/plugins/mod.rs
  crates/pytauri-core/src/plugins/opener/mod.rs
  crates/pytauri-core/src/utils.rs
  crates/pytauri/Cargo.toml
  examples/tauri-app/src-tauri/Cargo.toml
  examples/tauri-app/src-tauri/capabilities/default.json
  examples/tauri-app/src-tauri/python/tauri_app/__init__.py
  examples/tauri-app/src-tauri/src/lib.rs
  python/pytauri-wheel/Cargo.toml
  python/pytauri/src/pytauri_plugins/__init__.py
  python/pytauri/src/pytauri_plugins/opener/__init__.py
  python/pytauri/src/pytauri_plugins/opener/ffi.py
Due: python-fmt, rust-fmt, python-type-check

feat: better error handling
  crates/pytauri-core/Cargo.toml
  crates/pytauri-core/src/ext_mod_impl/lib/app_handle.rs
  crates/pytauri-core/src/plugins/clipboard_manager/mod.rs
  crates/pytauri-core/src/plugins/dialog/mod.rs
  crates/pytauri-core/src/plugins/fs/mod.rs
  crates/tauri-plugin-pytauri/src/lib.rs
Due: rust-fmt

refactor: move `BoxedPluginWrapper` behind `__private` feature gate
  crates/pytauri-core/src/ext_mod_impl/plugin.rs
  crates/pytauri-core/src/lib.rs
Due: rust-fmt

refactor: bump `tauri` monorepo and use new `plugin_boxed` api
  Cargo.lock
  Cargo.toml
  crates/pytauri-core/Cargo.toml
  crates/pytauri-core/src/ext_mod_impl/lib/app_handle.rs
  crates/pytauri-core/src/ext_mod_impl/plugin.rs
  crates/pytauri-core/src/lib.rs
  crates/pytauri-core/src/plugins/clipboard_manager/mod.rs
  crates/pytauri-core/src/plugins/dialog/mod.rs
  crates/pytauri-core/src/plugins/fs/mod.rs
  crates/pytauri-core/src/plugins/notification/mod.rs
  crates/pytauri-core/src/plugins/opener/mod.rs
  crates/pytauri/src/lib.rs
  crates/tauri-plugin-pytauri/guest-js/package.json
  examples/tauri-app-wheel/package.json
  examples/tauri-app/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  python/pytauri-wheel/Cargo.toml
Due: rust-fmt

Path conditions:
  uv-lock: any of: ^(uv\.lock|pyproject\.toml|uv\.toml)$
  python-fmt: any of: \.py$
  rust-fmt: any of: \.rs$
  python-type-check: any of: \.py$
