Repository pytauri/pytauri: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock, python-fmt, rust-fmt, python-type-check

uv-lock:
  name: uv-lock
  language: system
  entry: uv lock
  pass_filenames: false

python-fmt:
  stages:
  - pre-commit
  name: python format
  language: script
  entry: scripts/python-fmt.sh
  pass_filenames: false

rust-fmt:
  stages:
  - pre-commit
  name: rust format
  language: system
  entry: cargo fmt --all
  pass_filenames: false

python-type-check:
  stages:
  - pre-commit
  name: python type check
  language: system
  entry: pnpm pyright .
  pass_filenames: false

docs: changelog
  CHANGELOG.md
Due: none

update brand color in dark mode
  docs/stylesheets/extra.css
Due: none

revert separate dark mode brand color
  docs/stylesheets/extra.css
Due: none

docs: rebranding (#173)
  .gitignore
  CHANGELOG.md
  README.md
  docs/assets/banner.png
  docs/assets/favicon.png
  docs/assets/logo-white.svg
  docs/assets/logo.svg
  docs/stylesheets/extra.css
  mkdocs.yml
  python/pytauri-wheel/icons/icon.ico
  python/pytauri-wheel/icons/icon.png
Due: none

fix: bump `tauri-plugin-*` to fix rust docs build failures on `docs.rs`
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  python/pytauri-wheel/CHANGELOG.md
  python/pytauri-wheel/Cargo.toml
Due: none

docs: changelog
  CHANGELOG.md
  python/pytauri-wheel/CHANGELOG.md
Due: none

fix: bump `tauri-plugin-*` to fix rust docs build failures on `docs.rs` (#175)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  python/pytauri-wheel/CHANGELOG.md
  python/pytauri-wheel/Cargo.toml
Due: none

chore(release): bump version to `0.6.1`
  CHANGELOG.md
  Cargo.lock
  crates/pytauri-core/CHANGELOG.md
  crates/pytauri-core/Cargo.toml
  crates/pytauri/CHANGELOG.md
  crates/pytauri/Cargo.toml
Due: none

chore(release): bump version to `0.6.1` (#176)
  CHANGELOG.md
  Cargo.lock
  crates/pytauri-core/CHANGELOG.md
  crates/pytauri-core/Cargo.toml
  crates/pytauri/CHANGELOG.md
  crates/pytauri/Cargo.toml
Due: none

docs: update docs
  docs/usage/concepts/ipc.md
  docs_src/concepts/ipc/accessing_headers.py
  docs_src/concepts/ipc/py_channel.py
  docs_src/concepts/ipc/ret_exec.py
  docs_src/concepts/ipc/serde_body_as_any.py
  docs_src/concepts/ipc/serde_body_as_any_impl.py
  docs_src/pytauri_wheel/example/main.py
  examples/tauri-app-wheel/python/src/tauri_app_wheel/__init__.py
  examples/tauri-app/src-tauri/python/tauri_app/__init__.py
  python/pytauri/src/pytauri/ipc.py
Due: python-fmt, python-type-check

feat(pytauri): support using arbitrary types in `command`
  examples/tauri-app/src-tauri/python/tauri_app/__init__.py
  python/pytauri/src/pytauri/ipc.py
Due: python-fmt, python-type-check

refactor: use `RootModel` instead of `TypeAdapter` as de/serializer
  docs_src/concepts/ipc/serde_body_as_any_impl.py
  python/pytauri/src/pytauri/ipc.py
Due: python-fmt, python-type-check

feat(pytauri): support using arbitrary types in `command` (#171)
  CHANGELOG.md
  docs/usage/concepts/ipc.md
  docs_src/concepts/ipc/accessing_headers.py
  docs_src/concepts/ipc/py_channel.py
  docs_src/concepts/ipc/ret_exec.py
  docs_src/concepts/ipc/serde_body_as_any.py
  docs_src/concepts/ipc/serde_body_as_any_impl.py
  docs_src/pytauri_wheel/example/main.py
  examples/tauri-app-wheel/python/src/tauri_app_wheel/__init__.py
  examples/tauri-app/src-tauri/python/tauri_app/__init__.py
  python/pytauri/src/pytauri/ipc.py
Due: python-fmt, python-type-check

docs: changelog
  CHANGELOG.md
  crates/pytauri-core/CHANGELOG.md
  crates/tauri-plugin-pytauri/guest-js/CHANGELOG.md
  python/pytauri/CHANGELOG.md
  python/pytauri/src/pytauri/ffi/ipc.py
Due: python-fmt, python-type-check

feat(plugin-api)!: remove `rawPyInvoke` and `Channel
  crates/pytauri-core/src/ext_mod_impl/ipc.rs
  crates/pytauri-core/src/ext_mod_impl/lib/manager.rs
  crates/tauri-plugin-pytauri/guest-js/dist/api-iife.dev.js
  crates/tauri-plugin-pytauri/guest-js/dist/api-iife.prod.js
  crates/tauri-plugin-pytauri/guest-js/src/index.ts
  docs/usage/concepts/ipc.md
  docs_src/concepts/ipc/accessing_headers.ts
  docs_src/concepts/ipc/calling_cmd.ts
  docs_src/concepts/ipc/js_channel.ts
  docs_src/concepts/ipc/py_channel.py
  docs_src/tutorial/cammand.ts
  examples/tauri-app-wheel/src/main.ts
  examples/tauri-app/src/main.ts
  python/pytauri/src/pytauri/ffi/ipc.py
  python/pytauri/src/pytauri/ipc.py
Due: python-fmt, rust-fmt, python-type-check

test: fix tests for new json ipc mechanism
  tests/pytauri-test/python/pytauri_test/__init__.py
  tests/pytauri-test/tests/ipc.rs
Due: python-fmt, rust-fmt, python-type-check

feat(plugin-api)!: remove `rawPyInvoke` and `Channel` (#178)
  CHANGELOG.md
  crates/pytauri-core/CHANGELOG.md
  crates/pytauri-core/src/ext_mod_impl/ipc.rs
  crates/pytauri-core/src/ext_mod_impl/lib/manager.rs
  crates/tauri-plugin-pytauri/guest-js/CHANGELOG.md
  crates/tauri-plugin-pytauri/guest-js/dist/api-iife.dev.js
  crates/tauri-plugin-pytauri/guest-js/dist/api-iife.prod.js
  crates/tauri-plugin-pytauri/guest-js/src/index.ts
  docs/usage/concepts/ipc.md
  docs_src/concepts/ipc/accessing_headers.ts
  docs_src/concepts/ipc/calling_cmd.ts
  docs_src/concepts/ipc/js_channel.ts
  docs_src/concepts/ipc/py_channel.py
  docs_src/tutorial/cammand.ts
  examples/tauri-app-wheel/src/main.ts
  examples/tauri-app/src/main.ts
  python/pytauri/CHANGELOG.md
  python/pytauri/src/pytauri/ffi/ipc.py
  python/pytauri/src/pytauri/ipc.py
  tests/pytauri-test/python/pytauri_test/__init__.py
  tests/pytauri-test/tests/ipc.rs
Due: python-fmt, rust-fmt, python-type-check

feat(wip): gen-ts
  gen_ts.py
  gen_ts.ts
  package.json
  pnpm-lock.yaml
Due: python-fmt, python-type-check

feat(wip): gen-ts
  gen_ts.py
  gen_ts.ts
  python/pytauri/src/pytauri/_gen_ts.py
Due: python-fmt, python-type-check

Fix instructions to run in dev mode
  examples/tauri-app-wheel/README.md
Due: none

feat: distinguish between `bytes` and `None`
  python/pytauri/src/pytauri/_gen_ts.py
Due: python-fmt, python-type-check

feat: integrated into `Commands`
  examples/tauri-app/package.json
  examples/tauri-app/src-tauri/python/tauri_app/__init__.py
  examples/tauri-app/src/client/_apiTypes.d.ts
  examples/tauri-app/src/client/apiClient.ts
  examples/tauri-app/src/main.ts
  package.json
  pnpm-lock.yaml
  python/pytauri/src/pytauri/_gen_ts.py
  python/pytauri/src/pytauri/ipc.py
Due: python-fmt, python-type-check

fix: fix 1.88 clippy lint
  crates/pyfuture/src/future/rust.rs
  crates/pytauri/src/standalone/mod.rs
  crates/pytauri/src/standalone/pyembed.rs
  examples/tauri-app/src-tauri/src/lib.rs
  python/pytauri-wheel/src/lib.rs
Due: rust-fmt

feat: use `to_camel` as `cmd_alias` by default
  examples/tauri-app/src-tauri/python/tauri_app/__init__.py
  python/pytauri/src/pytauri/ipc.py
Due: python-fmt, python-type-check

fix: keep only one newline at the end of `apiClient.ts`
  examples/tauri-app/src/client/apiClient.ts
  python/pytauri/src/pytauri/_gen_ts.py
Due: python-fmt, python-type-check

feat: make `apiClient.ts` more compliant with `prettier` style
  examples/tauri-app/src/client/apiClient.ts
  python/pytauri/src/pytauri/_gen_ts.py
Due: python-fmt, python-type-check

feat: write if changed
  python/pytauri/src/pytauri/_gen_ts.py
Due: python-fmt, python-type-check

feat: add `experimental_gen_ts_background`
  examples/tauri-app/src-tauri/python/tauri_app/__init__.py
  python/pytauri/src/pytauri/ipc.py
Due: python-fmt, python-type-check

feat: debug python
  .vscode/launch.json
  .vscode/settings.json
  examples/tauri-app/src-tauri/pyproject.toml
  examples/tauri-app/src-tauri/python/tauri_app/__main__.py
  pyproject.toml
  uv.lock
Due: uv-lock, python-fmt, python-type-check

feat: debug rust
  .vscode/settings.json
  examples/tauri-app/src-tauri/python/tauri_app/__main__.py
Due: python-fmt, python-type-check

refactor(codelldb)!: programmatically launch codelldb
  examples/tauri-app/src-tauri/python/tauri_app/__main__.py
  python/codelldb/src/codelldb/__init__.py
Due: python-fmt, python-type-check

feat: support gen ts doc
  examples/tauri-app/src-tauri/python/tauri_app/__init__.py
  examples/tauri-app/src/client/apiClient.ts
  python/pytauri/src/pytauri/_gen_ts.py
  python/pytauri/src/pytauri/ipc.py
Due: python-fmt, python-type-check

feat: dont raise exception in `experimental_gen_ts_background`
  python/pytauri/src/pytauri/ipc.py
Due: python-fmt, python-type-check

fix: do not generate space for empty lines
  examples/tauri-app/src/client/apiClient.ts
  python/pytauri/src/pytauri/_gen_ts.py
Due: python-fmt, python-type-check

docs: add docs for `gen-ts` tutorial
  docs/usage/tutorial/gen-ts.md
  docs_src/tutorial/gen_ts.py
  examples/tauri-app-wheel/python/src/tauri_app_wheel/__init__.py
  examples/tauri-app/src-tauri/python/tauri_app/__init__.py
  mkdocs.yml
  tests/pytauri-test/python/pytauri_test/__init__.py
Due: python-fmt, python-type-check

docs: changelog
  CHANGELOG.md
  docs/usage/tutorial/gen-ts.md
  python/pytauri/CHANGELOG.md
Due: none

docs: readme
  README.md
Due: none

feat: generate typescript client for IPC (#179)
  CHANGELOG.md
  README.md
  crates/pyfuture/src/future/rust.rs
  crates/pytauri/src/standalone/mod.rs
  crates/pytauri/src/standalone/pyembed.rs
  docs/usage/tutorial/gen-ts.md
  docs_src/tutorial/gen_ts.py
  examples/tauri-app-wheel/python/src/tauri_app_wheel/__init__.py
  examples/tauri-app/package.json
  examples/tauri-app/src-tauri/python/tauri_app/__init__.py
  examples/tauri-app/src-tauri/src/lib.rs
  examples/tauri-app/src/client/_apiTypes.d.ts
  examples/tauri-app/src/client/apiClient.ts
  examples/tauri-app/src/main.ts
  mkdocs.yml
  pnpm-lock.yaml
  python/pytauri-wheel/src/lib.rs
  python/pytauri/CHANGELOG.md
  python/pytauri/src/pytauri/_gen_ts.py
  python/pytauri/src/pytauri/ipc.py
  tests/pytauri-test/python/pytauri_test/__init__.py
Due: python-fmt, rust-fmt, python-type-check

Path conditions:
  uv-lock: any of: ^(uv\.lock|pyproject\.toml|uv\.toml)$
  python-fmt: any of: \.py$
  rust-fmt: any of: \.rs$
  python-type-check: any of: \.py$
