Repository pytauri/pytauri: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock, python-fmt, rust-fmt, python-type-check

uv-lock:
  name: uv-lock
  language: system
  entry: uv lock
  pass_filenames: false

python-fmt:
  stages:
  - pre-commit
  name: python format
  language: script
  entry: scripts/python-fmt.sh
  pass_filenames: false

rust-fmt:
  stages:
  - pre-commit
  name: rust format
  language: system
  entry: cargo fmt --all
  pass_filenames: false

python-type-check:
  stages:
  - pre-commit
  name: python type check
  language: system
  entry: pnpm pyright .
  pass_filenames: false

fix: explicitly pass `PyString` type to `multiprocessing.set_executable`
  crates/pytauri/src/standalone/mod.rs
Due: rust-fmt

docs: changelog
  crates/pytauri/CHANGELOG.md
Due: none

fix(standalone): explicitly pass `PyString` to `multiprocessing.set_executable` (#159)
  crates/pytauri/CHANGELOG.md
  crates/pytauri/Cargo.toml
  crates/pytauri/src/lib.rs
  crates/pytauri/src/standalone/_post_init_pyi.py
  crates/pytauri/src/standalone/mod.rs
  crates/pytauri/src/standalone/pyembed.rs
Due: python-fmt, rust-fmt, python-type-check

feat: integrate `pytauri-plugin-notification` into `py/pytauri`
  crates/pytauri-core/src/lib.rs
  crates/pytauri-core/src/plugins/mod.rs
  python/pytauri/src/pytauri/ffi/pytauri_config.py
  python/pytauri/src/pytauri/pytauri_config.py
  python/pytauri/src/pytauri/pytauri_plugins/__init__.py
  python/pytauri/src/pytauri/pytauri_plugins/notification/__init__.py
  python/pytauri/src/pytauri/pytauri_plugins/notification/ffi.py
Due: python-fmt, rust-fmt, python-type-check

chore: remove `pytauri-plugin-notification` from repo
  Cargo.lock
  Cargo.toml
  README.md
  crates/pytauri-plugin-notification/CHANGELOG.md
  crates/pytauri-plugin-notification/Cargo.toml
  crates/pytauri-plugin-notification/src/ext_mod_impl.rs
  crates/pytauri-plugin-notification/src/lib.rs
  docs/CHANGELOG/py/pytauri-plugin-notification.md
  docs/CHANGELOG/rs/pytauri-plugin-notification.md
  docs/reference/rs.md
  docs_src/tutorial/plugin.py
  examples/nicegui-app/Cargo.toml
  examples/nicegui-app/pyproject.toml
  examples/nicegui-app/python/nicegui_app/__init__.py
  examples/nicegui-app/src/lib.rs
  examples/tauri-app/src-tauri/Cargo.toml
  examples/tauri-app/src-tauri/pyproject.toml
  examples/tauri-app/src-tauri/python/tauri_app/__init__.py
  examples/tauri-app/src-tauri/src/lib.rs
  mkdocs.yml
  pyproject.toml
  python/pytauri-plugin-notification/CHANGELOG.md
  python/pytauri-plugin-notification/README.md
  python/pytauri-plugin-notification/pyproject.toml
  python/pytauri-plugin-notification/src/pytauri_plugin_notification/__init__.py
  python/pytauri-plugin-notification/src/pytauri_plugin_notification/ffi.py
  python/pytauri-plugin-notification/src/pytauri_plugin_notification/py.typed
  scripts/python-verifytypes.sh
  uv.lock
Due: uv-lock, python-fmt, rust-fmt, python-type-check

feat: integrate `pytauri-plugin-notification` as a gated-feature
  .vscode/settings.json
  Cargo.lock
  crates/pytauri-core/Cargo.toml
  crates/pytauri-core/src/lib.rs
  crates/pytauri-core/src/plugins/mod.rs
  crates/pytauri-core/src/plugins/notification/mod.rs
  crates/pytauri/Cargo.toml
  tests/pytauri-test/Cargo.toml
Due: rust-fmt

docs: update docs for new plugin gated-feature
  docs/usage/tutorial/using-plugins.md
Due: none

refactor: simplify code in `plugins/notification`
  crates/pytauri-core/src/plugins/notification/mod.rs
Due: rust-fmt

refactor: move `pytauri.pytauri_plugins` to standalone `pytauri_plugins`
  README.md
  crates/pytauri-core/src/lib.rs
  crates/pytauri-core/src/plugins/mod.rs
  crates/pytauri-core/src/plugins/notification/mod.rs
  crates/pytauri/src/lib.rs
  docs/usage/concepts/ipc.md
  docs/usage/tutorial/using-plugins.md
  docs_src/tutorial/plugin.py
  examples/nicegui-app/python/nicegui_app/__init__.py
  examples/tauri-app/src-tauri/python/tauri_app/__init__.py
  mkdocs.yml
  python/pytauri/pyproject.toml
  python/pytauri/src/pytauri/ffi/pytauri_config.py
  python/pytauri/src/pytauri/pytauri_config.py
  python/pytauri/src/pytauri/pytauri_plugins/__init__.py
  python/pytauri/src/pytauri/pytauri_plugins/notification/__init__.py
  python/pytauri/src/pytauri_plugins/__init__.py
  python/pytauri/src/pytauri_plugins/notification/__init__.py
  python/pytauri/src/pytauri_plugins/notification/ffi.py
  python/pytauri/src/pytauri_plugins/py.typed
  scripts/python-verifytypes.sh
Due: python-fmt, rust-fmt, python-type-check

feat: add `NotificationBuilderArgs` as `kwargs` typing hint
  .vscode/settings.json
  crates/pyo3-utils/Cargo.toml
  crates/pyo3-utils/src/from_py_dict.rs
  crates/pyo3-utils/src/lib.rs
  crates/pytauri-core/Cargo.toml
  crates/pytauri-core/src/plugins/notification/mod.rs
  crates/pytauri/Cargo.toml
  python/pytauri/src/pytauri_plugins/notification/__init__.py
  python/pytauri/src/pytauri_plugins/notification/ffi.py
Due: python-fmt, rust-fmt, python-type-check

docs: changelog
  CHANGELOG.md
  crates/pyo3-utils/CHANGELOG.md
  crates/pytauri-core/CHANGELOG.md
  crates/pytauri/CHANGELOG.md
  python/pytauri/CHANGELOG.md
Due: none

refactor(pytauri)!: refactor `BuilderArgs` to `TypedDict`
  crates/pyo3-utils/src/from_py_dict.rs
  crates/pytauri/src/lib.rs
  docs/usage/tutorial/using-pytauri.md
  docs_src/concepts/ipc/gen_handler.py
  docs_src/pytauri_wheel/example/main.py
  docs_src/tutorial/invoke_handler.py
  examples/nicegui-app/python/nicegui_app/__init__.py
  examples/tauri-app-wheel/python/src/tauri_app_wheel/__init__.py
  examples/tauri-app/src-tauri/python/tauri_app/__init__.py
  python/pytauri/src/pytauri/ffi/lib.py
  tests/pytauri-test/python/pytauri_test/__init__.py
Due: python-fmt, rust-fmt, python-type-check

docs: changelog
  CHANGELOG.md
  crates/pytauri/CHANGELOG.md
  python/pytauri/CHANGELOG.md
Due: none

refactor(pytauri)!: refactor `BuilderArgs` to `TypedDict` (#161)
  CHANGELOG.md
  crates/pyo3-utils/src/from_py_dict.rs
  crates/pytauri/CHANGELOG.md
  crates/pytauri/src/lib.rs
  docs/usage/tutorial/using-pytauri.md
  docs_src/concepts/ipc/gen_handler.py
  docs_src/pytauri_wheel/example/main.py
  docs_src/tutorial/invoke_handler.py
  examples/nicegui-app/python/nicegui_app/__init__.py
  examples/tauri-app-wheel/python/src/tauri_app_wheel/__init__.py
  examples/tauri-app/src-tauri/python/tauri_app/__init__.py
  python/pytauri/CHANGELOG.md
  python/pytauri/src/pytauri/ffi/lib.py
  tests/pytauri-test/python/pytauri_test/__init__.py
Due: python-fmt, rust-fmt, python-type-check

feat(plugin): implement `tauri-plugin-dialog` bindings
  .vscode/settings.json
  Cargo.lock
  Cargo.toml
  crates/pytauri-core/Cargo.toml
  crates/pytauri-core/src/plugins/dialog/mod.rs
  crates/pytauri-core/src/plugins/mod.rs
  crates/pytauri/Cargo.toml
Due: rust-fmt

feat: add python bindings api
  Cargo.lock
  crates/pytauri-core/src/ext_mod_impl/ipc.rs
  crates/pytauri-core/src/plugins/dialog/mod.rs
  crates/pytauri-core/src/plugins/notification/mod.rs
  examples/tauri-app/src-tauri/Cargo.toml
  examples/tauri-app/src-tauri/capabilities/default.json
  examples/tauri-app/src-tauri/python/tauri_app/__init__.py
  examples/tauri-app/src-tauri/src/lib.rs
  python/pytauri/src/pytauri_plugins/__init__.py
  python/pytauri/src/pytauri_plugins/dialog/__init__.py
  python/pytauri/src/pytauri_plugins/dialog/ffi.py
Due: python-fmt, rust-fmt, python-type-check

feat: add `FileDialogBuilder` bingings
  crates/pytauri-core/src/ext_mod_impl/lib/url.rs
  crates/pytauri-core/src/ext_mod_impl/webview.rs
  crates/pytauri-core/src/plugins/dialog/mod.rs
  python/pytauri/src/pytauri/ffi/_typing.py
  python/pytauri/src/pytauri/ffi/tray.py
  python/pytauri/src/pytauri_plugins/dialog/__init__.py
  python/pytauri/src/pytauri_plugins/dialog/ffi.py
Due: python-fmt, rust-fmt, python-type-check

docs: changelog and docs
  CHANGELOG.md
  crates/pytauri-core/CHANGELOG.md
  docs/usage/tutorial/using-plugins.md
  python/pytauri/CHANGELOG.md
Due: none

feat(plugin): implement `tauri-plugin-dialog` bindings (#163)
  .vscode/settings.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/pytauri-core/CHANGELOG.md
  crates/pytauri-core/Cargo.toml
  crates/pytauri-core/src/ext_mod_impl/ipc.rs
  crates/pytauri-core/src/ext_mod_impl/lib/url.rs
  crates/pytauri-core/src/ext_mod_impl/webview.rs
  crates/pytauri-core/src/plugins/dialog/mod.rs
  crates/pytauri-core/src/plugins/mod.rs
  crates/pytauri-core/src/plugins/notification/mod.rs
  crates/pytauri/Cargo.toml
  docs/usage/tutorial/using-plugins.md
  examples/tauri-app/src-tauri/Cargo.toml
  examples/tauri-app/src-tauri/capabilities/default.json
  examples/tauri-app/src-tauri/python/tauri_app/__init__.py
  examples/tauri-app/src-tauri/src/lib.rs
  python/pytauri/CHANGELOG.md
  python/pytauri/src/pytauri/ffi/_typing.py
  python/pytauri/src/pytauri/ffi/tray.py
  python/pytauri/src/pytauri_plugins/__init__.py
  python/pytauri/src/pytauri_plugins/dialog/__init__.py
  python/pytauri/src/pytauri_plugins/dialog/ffi.py
Due: python-fmt, rust-fmt, python-type-check

feat(pytauri-wheel): `tauri-plugin-notification` and `pytauri_plugins`
  Cargo.lock
  python/pytauri-wheel/Cargo.toml
  python/pytauri-wheel/python/pytauri_wheel/lib.py
  python/pytauri-wheel/src/lib.rs
Due: python-fmt, rust-fmt, python-type-check

docs: docs and changelog
  docs/usage/pytauri-wheel/index.md
  python/pytauri-wheel/CHANGELOG.md
Due: none

feat(pytauri-wheel): `tauri-plugin-notification` and `pytauri_plugins` (#165)
  Cargo.lock
  docs/usage/pytauri-wheel/index.md
  python/pytauri-wheel/CHANGELOG.md
  python/pytauri-wheel/Cargo.toml
  python/pytauri-wheel/python/pytauri_wheel/lib.py
  python/pytauri-wheel/src/lib.rs
Due: python-fmt, rust-fmt, python-type-check

fix(standalone): standalone binary not working on MacOS
  CHANGELOG.md
  examples/nicegui-app/src/main.rs
  examples/tauri-app/src-tauri/src/main.rs
Due: rust-fmt

fix(standalone): standalone binary not working on MacOS (#166)
  CHANGELOG.md
  examples/nicegui-app/src/main.rs
  examples/tauri-app/src-tauri/src/main.rs
Due: rust-fmt

chore(release): bump version to `0.6.0`
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  crates/pyo3-utils/CHANGELOG.md
  crates/pyo3-utils/Cargo.toml
  crates/pytauri-core/CHANGELOG.md
  crates/pytauri-core/Cargo.toml
  crates/pytauri/CHANGELOG.md
  crates/pytauri/Cargo.toml
  crates/tauri-plugin-pytauri/CHANGELOG.md
  crates/tauri-plugin-pytauri/Cargo.toml
  crates/tauri-plugin-pytauri/guest-js/CHANGELOG.md
  crates/tauri-plugin-pytauri/guest-js/package.json
  python/pytauri-wheel/CHANGELOG.md
  python/pytauri-wheel/Cargo.toml
  python/pytauri-wheel/pyproject.toml
  python/pytauri/CHANGELOG.md
  python/pytauri/pyproject.toml
  uv.lock
Due: uv-lock

chore(release): bump version to `0.6.0` (#167)
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  crates/pyo3-utils/CHANGELOG.md
  crates/pyo3-utils/Cargo.toml
  crates/pytauri-core/CHANGELOG.md
  crates/pytauri-core/Cargo.toml
  crates/pytauri/CHANGELOG.md
  crates/pytauri/Cargo.toml
  crates/tauri-plugin-pytauri/CHANGELOG.md
  crates/tauri-plugin-pytauri/Cargo.toml
  crates/tauri-plugin-pytauri/guest-js/CHANGELOG.md
  crates/tauri-plugin-pytauri/guest-js/package.json
  python/pytauri-wheel/CHANGELOG.md
  python/pytauri-wheel/Cargo.toml
  python/pytauri-wheel/pyproject.toml
  python/pytauri/CHANGELOG.md
  python/pytauri/pyproject.toml
  uv.lock
Due: uv-lock

docs: update docs for v0.6.0
  CHANGELOG.md
  docs/usage/pytauri-wheel/index.md
  docs/usage/tutorial/py-js-ipc.md
  docs/usage/tutorial/using-pytauri.md
Due: none

docs: add `create-pytauri-app` to docs
  CHANGELOG.md
  docs/usage/tutorial/getting-started.md
Due: none

docs: update docs for v0.6.0 (#169)
  CHANGELOG.md
  docs/usage/pytauri-wheel/index.md
  docs/usage/tutorial/getting-started.md
  docs/usage/tutorial/py-js-ipc.md
  docs/usage/tutorial/using-pytauri.md
Due: none

feat(pytauri): support using arbitrary types in `command`
  examples/tauri-app/src-tauri/python/tauri_app/__init__.py
  python/pytauri/src/pytauri/ipc.py
Due: python-fmt, python-type-check

docs: update docs
  docs/usage/concepts/ipc.md
  docs_src/concepts/ipc/accessing_headers.py
  docs_src/concepts/ipc/py_channel.py
  docs_src/concepts/ipc/ret_exec.py
  docs_src/concepts/ipc/serde_body_as_any.py
  docs_src/concepts/ipc/serde_body_as_any_impl.py
  docs_src/pytauri_wheel/example/main.py
  examples/tauri-app-wheel/python/src/tauri_app_wheel/__init__.py
  examples/tauri-app/src-tauri/python/tauri_app/__init__.py
  python/pytauri/src/pytauri/ipc.py
Due: python-fmt, python-type-check

docs rebranding
  .gitignore
  CHANGELOG.md
  README.md
  docs/assets/banner.png
  docs/assets/favicon.png
  docs/assets/logo-white.svg
  docs/assets/logo.svg
  docs/stylesheets/extra.css
  mkdocs.yml
Due: none

update CHANGELOG.md
  CHANGELOG.md
Due: none

docs: changelog
  CHANGELOG.md
  README.md
Due: none

fix(pytauri-wheel): update icons assets for rebranding
  python/pytauri-wheel/icons/icon.ico
  python/pytauri-wheel/icons/icon.png
Due: none

Path conditions:
  uv-lock: any of: ^(uv\.lock|pyproject\.toml|uv\.toml)$
  python-fmt: any of: \.py$
  rust-fmt: any of: \.rs$
  python-type-check: any of: \.py$
